{% extends 'base.html' %}

{% block content %}

<div class="container">
    <br>
    <br>
    <h1>Account Settings | {{ user }}</h1>

    <br>
    <br>
    <br>

    <h3>Your Stats</h3>

    <hr>
    <br>

    <span>Total Number of Listings: {{ num_of_total_listings }}</span>
    <br>
    <span>Number of Creator Listings: {{ num_of_c_listings }}</span>
    <br>
    <span>Number of Sponsor Listings: {{ num_of_s_listings }}</span>

    <br>
    <br>

    <span>Total Pending Creator Orders: {{ num_of_cp_listings }}</span>
    <br>
    <span>Total Pending Sponsor Orders: {{ num_of_sp_listings }}</span>
    <br>
    <span>Total Accepted Creator Orders: {{ num_of_ca_listings }}</span>
    <br>
    <span>Total Accepted Sponsor Orders: {{ num_of_sa_listings }}</span>
    <br>
    <span>Total Completed Orders: {{ num_of_completed_listings }}</span>

    <br>

    <br>

    <h3>Your Account Login</h3>

    <hr>
    <br>

    <span>Your First Name: <b>{{ user.first_name }}</b> | Your Last Name: <b>{{ user.first_name }}</b></span> <a href="{% url 'edit_profile' id=user.id %}">Change Personal Info</a>
    <br>

    <span>Your Username/Email: <b>{{ user.username }}</b></span> <a href="{% url 'edit_profile' id=user.id %}">Change Email</a>
    <br>
    <span>Your Password: ####### </span> <a href="{% url 'password_reset' %}">Change Password</a>

    <br>
    <br>
    <br>


    <h3>Delete Account</h3>

    <hr>
    <br>

    <a href="{% url 'delete_account' %}" style="color: red;">Delete Account</a>

</div>

{% endblock content %}
