{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Dashboard</h1>
    <br>
    <br>
    <h2>USER: {{ user.username }}</h2>
    <h2>Profile: {{ profile.user }}</h2>
    <hr>

<!--

    Orders that have been made on this users listings

-->

    <h1><u>ORDERS</u></h1>
<!-- Dropdown for creator orders -->
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseCreatorOrders" role="button">
            Creator Orders
            </a>
        </p>
        <div class="collapse" id="collapseCreatorOrders">
                    {% for c_order in c_orders %}
                            {% if c_order.buyers_listing_s %}
                            <div class="card card-body">
                                <h5>Buyers S Listing: <a href="{% url 'sponsor_marketplace_listing_view' id=c_order.buyers_listing_s.id %}">{{ c_order.buyers_listing_s }}</a></h5>
                                <small>Checkout their listing to see if you approve. If you do, click ACCEPT. If you don't click DECLINE.</small>
                                <h5>The listing of yours that they are ordering: {{ c_order.creator_listing }}</h5>
                                <a href="{% url 'dashboard_creator_order_accept' id=c_order.id %}"><button>Accept</button></a>
                                <a href="{% url 'dashboard_creator_order_decline' id=c_order.id %}"><button>Decline</button></a>
                            </div>

                        
                            {% elif c_order.buyers_listing_c %}
                            <div class="card card-body">
                                <h5>Buyers C Listing: <a href="{% url 'creator_marketplace_listing_view' id=c_order.buyers_listing_c.id %}">{{ c_order.buyers_listing_c }}</a>
                                </h5>
                                <small>Checkout their listing to see if you approve. If you do, click ACCEPT. If you don't click DECLINE.</small>
                                <h5>The listing of yours that they are ordering: {{ c_order.creator_listing }}</h5>
                                <a href="{% url 'dashboard_creator_order_accept' id=c_order.id %}"><button>Accept</button></a>
                                <a href="{% url 'dashboard_creator_order_decline' id=c_order.id %}"><button>Decline</button></a>
                            </div>
                        {% endif %}    
                    {% endfor %}
                    
                        {% if c_orders_len == 0 %}
                        <div class="card card-body">
                            <h5>>>> You have no orders for any of your creator listings</h5>
                        </div>
                        {% endif %}
        </div>
    </div>

<!-- Dropdown for sponsor orders -->
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseSponsorOrders" role="button">
            Sponsor Orders
            </a>
        </p>
        <div class="collapse" id="collapseSponsorOrders">
            {% for s_order in s_orders %}
                {% if s_order.buyers_listing_s %}
                    <div class="card card-body">
                        <h5>Buyers S Listing: <a href="{% url 'sponsor_marketplace_listing_view' id=s_order.buyers_listing_s.id %}">{{ s_order.buyers_listing_s }}</a></h5>
                        <small>Checkout their listing to see if you approve. If you do, click ACCEPT. If you don't click DECLINE.</small>
                        <h5>The listing of yours that they are ordering: {{ s_order.creator_listing }}</h5>
                        <a href="{% url 'dashboard_sponsor_order_accept' id=s_order.id %}"><button>Accept</button></a>
                        <a href="{% url 'dashboard_sponsor_order_decline' id=s_order.id %}"><button>Decline</button></a>
                    </div>

                {% elif s_order.buyers_listing_c %}
                    <div class="card card-body">
                        <h5>Buyers C Listing: <a href="{% url 'creator_marketplace_listing_view' id=s_order.buyers_listing_c.id %}">{{ s_order.buyers_listing_c }}</a></h5>
                        <small>Checkout their listing to see if you approve. If you do, click ACCEPT. If you don't click DECLINE.</small>
                        <h5>The listing of yours that they are ordering: {{ s_order.creator_listing }}</h5>
                        <a href="{% url 'dashboard_sponsor_order_accept' id=s_order.id %}"><button>Accept</button></a>
                        <a href="{% url 'dashboard_sponsor_order_decline' id=s_order.id %}"><button>Decline</button></a>
                    </div>
                {% endif %}
            {% endfor %}

            {% if s_orders_len == 0 %}
                <div class="card card-body">
                    <h5>>>> You have no orders for any of your sponsor listings</h5>
                </div>
            {% endif %}
        </div>
    </div>

        <hr>


    <h1><u>Accepted ORDERS</u></h1>
<!-- Dropdown for accepted creator orders -->
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseAcceptedCreatorOrders" role="button">
            Accepted Creator Orders
            </a>
        </p>

        <!-- Make logic for if buyers listing is a creator or a sponsor listing -->

        {% if c_accepted_orders_len >= 1 %}
                {% for c_accepted_order in c_accepted_orders %}
                    {% if c_accepted_order.buyers_listing_s %}
                        <div class="collapse" id="collapseAcceptedCreatorOrders">
                            <div class="card card-body">
                                <h1>s Buyers Listing: {{ c_accepted_order.buyers_listing_s }}</h1>
                            </div>
                        </div>
                    {% endif %}  
                    
                    {% if c_accepted_order.buyers_listing_c %}
                        <div class="collapse" id="collapseAcceptedCreatorOrders">
                            <div class="card card-body">
                                <h1>c Buyers Listing: {{ c_accepted_order.buyers_listing_c }}</h1>
                            </div>
                        </div>
                    {% endif %} 
                {% endfor %}
        {% endif %}

        {% if c_accepted_orders_len < 1 %}
            <div class="collapse" id="collapseAcceptedCreatorOrders">
                <div class="card card-body">
                    <h1>You Have No Accepted Orders</h1>
                </div>
            </div>
        {% endif %}


    </div>

<!-- Dropdown for accepted sponsor orders -->
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseAcceptedSponsorOrders" role="button">
            Accepted Sponsor Orders
            </a>
        </p>
            

            {% if s_accepted_orders_len >= 1 %}
                {% for s_accepted_order in s_accepted_orders %}
                
                    {% if s_accepted_order.buyers_listing_s %}
                        <div class="collapse" id="collapseAcceptedSponsorOrders">
                            <div class="card card-body">
                                <h1>s Buyers Listing: {{ s_accepted_order.buyers_listing_s }}</h1>
                            </div>
                        </div>
                    {% endif %}  
                    
                    {% if s_accepted_order.buyers_listing_c %}
                        <div class="collapse" id="collapseAcceptedSponsorOrders">
                            <div class="card card-body">
                                <h1>c Buyers Listing: {{ s_accepted_order.buyers_listing_c }}</h1>
                            </div>
                        </div>
                    {% endif %} 

                {% endfor %}
            {% endif %}

            {% if s_accepted_orders_len < 1 %}
                <div class="collapse" id="collapseAcceptedSponsorOrders">
                    <div class="card card-body">
                        <h1>You Have No Accepted Orders</h1>
                    </div>
                </div>
            {% endif %}


    </div>

    <hr>


    <!--

        Orders that the user has made

    -->

    <h1>Orders You've Made:</h1>

    <h3>Creators Ordered: </h3>
    {% for creator in c_ordered %}
        <a href="{% url 'creator_marketplace_listing_view' id=creator.creator_listing.id %}">{{ creator.creator_listing }}</a>
        <a href="{% url 'dashboard_unorder_c' id=creator.creator_listing.id %}"><button>Unorder</button></a>
        <a href="{% url 'creator_marketplace_listing_order_view' id=creator.creator_listing.id %}"><button>Edit</button></a>
        <span>STATUS: {{ creator.status }}</span>
    {% endfor %}

    <h3>Sponsors Ordered: </h3>
    {% for sponsor in s_ordered %}
        <a href="{% url 'sponsor_marketplace_listing_view' id=sponsor.sponsor_listing.id %}">{{ sponsor.sponsor_listing }}</a>
        <a href="{% url 'dashboard_unorder_s' id=sponsor.sponsor_listing.id %}"><button>Unorder</button></a>
        <a href="{% url 'sponsor_marketplace_listing_order_view' id=sponsor.sponsor_listing.id %}"><button>Edit</button></a>
        <span>STATUS: {{ sponsor.status }}</span>
    {% endfor %}

    <hr>
    <h1>Watching:</h1>

    <h3>Creators Watching: </h3>
    {% for creator in c_watching %}
    <a href="{% url 'creator_marketplace_listing_view' id=creator.id %}">{{ creator }}</a>
    <a href="{% url 'dashboard_unwatch_c' id=creator.id %}"><button>Unwatch</button></a>
    {% endfor %}

    <h3>Sponsors Watching: </h3>
    {% for sponsor in s_watching %}
    <a href="{% url 'sponsor_marketplace_listing_view' id=sponsor.id %}">{{ sponsor }}</a>
    <a href="{% url 'dashboard_unwatch_s' id=sponsor.id %}"><button>Unwatch</button></a>
    {% endfor %}

    <hr>
    <h1>Your Listings:</h1>

    <h3>Your Creator Listings: </h3>
    {% for listing in personal_c_listings %}
    <a href="{% url 'creator_marketplace_listing_view' id=listing.id %}">{{ listing }}</a>
    <a href="{% url 'blog_listing_update' id=listing.id %}"><button>Edit</button></a>
    <a href="{% url 'blog_listing_delete' id=listing.id %}"><button>Delete</button></a>
    {% endfor %}

    <h3>Your Sponsor Listings: </h3>
    {% for listing in personal_s_listings %}
    <a href="{% url 'sponsor_marketplace_listing_view' id=listing.id %}">{{ listing }}</a>
    <a href="{% url 'sponsor_listing_update' id=listing.id %}"><button>Edit</button></a>
    <a href="{% url 'sponsor_listing_delete' id=listing.id %}"><button>Delete</button></a>

    {% endfor %}

</div>

{% endblock content %}