<!--

    Orders that have been made on this users listings

-->
<div class="card">
    <div class="row no-gutters">
        <div class="col-auto">
            <img src="//placehold.it/200" class="img-fluid" alt="">
        </div>
        <div class="col">
            <div class="card-block px-2">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Description</p>
                <a href="#" class="btn btn-primary">BUTTON</a>
            </div>
        </div>
    </div>
    <div class="card-footer w-100 text-muted">
        Footer stating cats are CUTE little animals
    </div>
</div>

<h1><u>ORDERS</u></h1>
<!-- Dropdown for creator orders -->
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseCreatorOrders" role="button">
            Creator Orders
            </a>
        </p>
        <div class="collapse" id="collapseCreatorOrders">
                    {% for c_order in c_orders %}
                            {% if c_order.buyers_listing_s %}
                            <div class="card card-body">
                                <h5>Buyers Sponsor Listing: <a href="{% url 'sponsor_marketplace_listing_view' id=c_order.buyers_listing_s.id %}">{{ c_order.buyers_listing_s }}</a></h5>
                                <small>Checkout their listing to see if you approve. If you do, click ACCEPT. If you don't click DECLINE.</small>
                                <hr>
                                <h5>The listing of yours that they are ordering: <a href="{% url 'creator_marketplace_listing_view' id=c_order.creator_listing.id %}">{{ c_order.creator_listing }}</a></h5>
                                <hr>
                                <h5>The Service They're Looking For: {{ c_order.service }}</h5>
                                <hr>
                                <h5>Description of what they'd like:</h5> 
                                <span>{{ c_order.service_detailed }}</span>
                                <hr>
                                <h5>Payout: ${{ c_order.buyers_listing_s.money }}</h5>
                                <br>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creatorAcceptModal">
                                    Accept
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="creatorAcceptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                        If you accept thi order, that means you'll work on it.
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a href="{% url 'dashboard_creator_order_accept' id=c_order.id %}"><button>Yes, I'm Sure</button></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <a href="{% url 'dashboard_creator_order_decline' id=c_order.id %}"><button>Decline</button></a>
                            </div>
                            {% endif %}   
                    {% endfor %}
                    
                        {% if c_orders_len == 0 %}
                        <div class="card card-body">
                            <h5>>>> You have no orders for any of your creator listings</h5>
                        </div>
                        {% endif %}
        </div>
    </div>

<!-- Dropdown for sponsor orders -->
    <div>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseSponsorOrders" role="button">
            Sponsor Orders
            </a>
        </p>
        <div class="collapse" id="collapseSponsorOrders">

            {% for s_order in s_orders %}

                {% if s_order.buyers_listing_c %}

                    <div class="card card-body">
                        <h5>Buyers Creator Listing: <a href="{% url 'creator_marketplace_listing_view' id=s_order.buyers_listing_c.id %}">{{ s_order.buyers_listing_c }}</a></h5>
                        <small>Checkout their listing to see if you approve. If you do, click ACCEPT. If you don't click DECLINE.</small>
                        <hr>
                        <h5>The listing of yours that they are ordering: <a href="{% url 'sponsor_marketplace_listing_view' id=s_order.sponsor_listing.id %}">{{ s_order.sponsor_listing }}</a></h5>
                        <hr>
                        <h5>The services they're willing to do: {{ s_order.services_creator_is_willing_to_provide }}</h5>
                        <hr>
                        <h5>Description of order: </h5>
                        <span>{{ s_order.services_creator_is_willing_to_provide_detailed }}</span>
                        <hr>
                        <h5>Your Payout: ${{ s_order.sponsor_listing.money }}</h5>
                        <br>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sponsorAcceptModal">
                            Accept Creator
                        </button>
                        <a href="{% url 'dashboard_sponsor_order_decline' id=s_order.id %}"><button>Decline</button></a>
                        
                        <!-- Sponsor Accept Modal -->
                        <div class="modal fade" id="sponsorAcceptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Accepting {{ s_order }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                ...
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="{% url 'dashboard_sponsor_order_accept' id=s_order.id %}">
                                    <button type="button" class="btn btn-primary">Yes, I'm Sure</button>
                                </a>
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>

                {% endif %}

            {% endfor %}

            {% if s_orders_len == 0 %}

                <div class="card card-body">

                    <h5>>>> You have no orders for any of your sponsor listings</h5>

                </div>

            {% endif %}

        </div>
    </div>

        <hr>


    <h1><u>Accepted ORDERS</u></h1>
<!-- Dropdown for accepted creator orders -->
    <div>

        <p>
            <a class="btn btn-primary" data-toggle="collapse" data-target="#collapseAcceptedCreatorOrders" role="button">
            Accepted Orders
            </a>
        </p>

        <!-- Make logic for if buyers listing is a creator or a sponsor listing -->

        {% if c_accepted_orders_len >= 1 %}
                {% for c_accepted_order in c_accepted_orders %}
                    {% if c_accepted_order.buyers_listing_s %}
                        <div class="collapse" id="collapseAcceptedCreatorOrders">
                            <div class="card card-body">
                                <h5>Buyers Sponsor Listing: <a href="{% url 'sponsor_marketplace_listing_view' id=c_accepted_order.buyers_listing_s.id %}">{{ c_accepted_order.buyers_listing_s }}</a></h5>
                                <small>You've acepted this order. Make sure to work on it.</small>
                                <hr>
                                <h5>The listing of yours that they are ordering: <a href="{% url 'creator_marketplace_listing_view' id=c_accepted_order.creator_listing.id %}">{{ c_accepted_order.creator_listing }}</a></h5>
                                <hr>
                                <h5>The Service They're Looking For: {{ c_accepted_order.service }}</h5>
                                <hr>
                                <h5>Description of what they'd like:</h5> 
                                <span>{{ c_accepted_order.service_detailed }}</span>
                                <hr>
                                <h5>Payout: ${{ c_accepted_order.buyers_listing_s.money }}</h5>
                                <br>




                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creatorCompletedModal">
                                        Mark As Completed
                                    </button>

                                <!-- Modal -->
                                <div class="modal fade" id="creatorCompletedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Order</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                        ...
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <a href="{% url 'dashboard_creator_order_complete' id=c_accepted_order.id %}">
                                                <button type="button" class="btn btn-primary">You're Sure</button>
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <a href="{% url 'dashboard_withdraw_order' id=c_accepted_order.id %}"><button>Withdraw</button></a>
                            </div>
                        </div> 
                    
                    {% elif c_accepted_order.buyers_listing_c %}
                        <div class="collapse" id="collapseAcceptedCreatorOrders">
                            <div class="card card-body">
                                <h1>c Buyers Listing: <a href="{% url 'creator_marketplace_listing_view' id=c_accepted_order.buyers_listing_c.id %}">{{ c_accepted_order }}</a></h1>
                                <a href="{% url 'dashboard_creator_order_complete' id=c_accepted_order.id %}"><button>Mark As Completed</button></a>
                                <button>Withdraw</button>
                            </div>
                        </div>
                    {% endif %} 
                {% endfor %}
        {% endif %}

        {% if c_accepted_orders_len < 1 %}
            <div class="collapse" id="collapseAcceptedCreatorOrders">
                <div class="card card-body">
                    <h1>You Have No Accepted Orders</h1>
                </div>
            </div>
        {% endif %}
    </div>



<hr>

    <!--

        Orders that the user has made

    -->

    <h1>Current Orders:</h1>

    <h3>Creators Ordered: </h3>
    {% for creator in c_ordered %}
        <a href="{% url 'creator_marketplace_listing_view' id=creator.creator_listing.id %}">{{ creator.creator_listing }}</a>
        <a href="{% url 'dashboard_unorder_c' id=creator.creator_listing.id %}"><button>Unorder</button></a>
        <a href="{% url 'creator_marketplace_listing_order_view' id=creator.creator_listing.id %}"><button>Edit</button></a>
        <span style="color: blue;">STATUS: {{ creator.status }}</span>
        <hr>
    {% endfor %}

    {% for a_creator_order in accepted_c_orders %}
        <a href="{% url 'creator_marketplace_listing_view' id=a_creator_order.creator_listing.id %}">{{ a_creator_order.creator_listing }}</a>
        <a href="{% url 'dashbord_unorder_accepted_c' id=a_creator_order.id %}"><button>Unorder</button></a>
        <span style="color: blue;">STATUS: {{ a_creator_order.status }}</span>
        <hr>
    {% endfor %}

    {% for c_creator_order in completed_c_orders %}
        <a href="{% url 'creator_marketplace_listing_view' id=c_creator_order.creator_listing.id %}">{{ c_creator_order.creator_listing }}</a>
        <span style="color: blue;">STATUS: {{ c_creator_order.status }}</span>
        <hr>
    {% endfor %}

    <h3>Sponsors Ordered: </h3>
    {% for sponsor in s_ordered %}
        <a href="{% url 'sponsor_marketplace_listing_view' id=sponsor.sponsor_listing.id %}">{{ sponsor.sponsor_listing }}</a>
        <a href="{% url 'dashboard_unorder_s' id=sponsor.sponsor_listing.id %}"><button>Unorder</button></a>
        <a href="{% url 'sponsor_marketplace_listing_order_view' id=sponsor.sponsor_listing.id %}"><button>Edit</button></a>
        <span>STATUS: {{ sponsor.status }}</span>
    {% endfor %}

    <hr>
    <h1>Watching:</h1>

    <h3>Creators Watching: </h3>
    {% for creator in c_watching %}
    <a href="{% url 'creator_marketplace_listing_view' id=creator.id %}">{{ creator }}</a>
    <a href="{% url 'dashboard_unwatch_c' id=creator.id %}"><button>Unwatch</button></a>
    {% endfor %}

    <h3>Sponsors Watching: </h3>
    {% for sponsor in s_watching %}
    <a href="{% url 'sponsor_marketplace_listing_view' id=sponsor.id %}">{{ sponsor }}</a>
    <a href="{% url 'dashboard_unwatch_s' id=sponsor.id %}"><button>Unwatch</button></a>
    {% endfor %}

    <hr>
    <h1>Your Listings:</h1>

    <h3>Your Creator Listings: </h3>
    {% for listing in personal_c_listings %}
    <a href="{% url 'creator_marketplace_listing_view' id=listing.id %}">{{ listing }}</a>
    <a href="{% url 'blog_listing_update' id=listing.id %}"><button>Edit</button></a>
    <a href="{% url 'blog_listing_delete' id=listing.id %}"><button>Delete</button></a>
    {% endfor %}

    <h3>Your Sponsor Listings: </h3>
    {% for listing in personal_s_listings %}
    <a href="{% url 'sponsor_marketplace_listing_view' id=listing.id %}">{{ listing }}</a>
    <a href="{% url 'sponsor_listing_update' id=listing.id %}"><button>Edit</button></a>
    <a href="{% url 'sponsor_listing_delete' id=listing.id %}"><button>Delete</button></a>

    {% endfor %}