{% extends 'base.html' %}

{% block content %}

<!-- Only shows up for LG and bigger (computers) -->
<div class="view d-none d-lg-block" style=" height: 400px; background-image: url('https://i.pinimg.com/originals/6f/6c/15/6f6c1538b050072b002dbc06bedaaf90.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container d-flex h-100 align-items-center justify-content-center">
      <div class="row">
        <div class="col-md-12 white-text text-center">
          <div class="col-md-8 p-lg-5 mx-auto my-auto">
              <h1 class="font-weight-bold display-1">Dashboard</h1>
              <br>
              <p class="lead font-weight-normal">A place to see your stuff.</p>                    
          </div>
        </div>
      </div>         
    </div>
  </div>

<div class="container">
    
    <br>
    <br>
    
    <div class="row">

        <div class="col-12 d-flex">

            <button class="btn btn-block btn-primary mx-1 h-90" style="border-radius: 0px;">Creator Orders</button>
            <button class="btn btn-block btn-warning m-0 mx-1 h-90" style="border-radius: 0px;">Sponsor Orders</button>
            <button class="btn btn-block btn-success m-0 mx-1 h-90" style="border-radius: 0px;">Accepted Orders</button>
            <button class="btn btn-block btn-danger m-0 mx-1 h-90" style="border-radius: 0px;">Order History</button>
            <button class="btn btn-block btn-info m-0 mx-1 h-90" style="border-radius: 0px;">Your Listings</button>
            <button class="btn btn-block btn-secondary m-0 mx-1 h-90" style="border-radius: 0px;">Watching</button>

        </div>

    </div>

    <br>
    <br>

    <h3>Features to be added: </h3>
    <h5>--- 1. Reset Email (username)</h5>
    <h5>--- 2. Reset Password</h5>
    <h5>--- 3. Basic display of stats</h5>
    <h5>--- 4. Display of listings w/ similar features to that part of the dashboard</h5>
    <h5>--- 5. Delete Account (along w/ all listings associated w/ that account)</h5>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    

</div>


{% endblock content %}