{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Dashboard</h1>
        <br>
        <br>
        <h2>USER: {{ user.username }}</h2>
        <h2>Profile: {{ profile.user }}</h2>

        <hr>

        <h1>Orders: </h1>
        <h3>Creator Orders: </h3>

        
            {% for c_order in c_orders %}
                {% if c_order.buyers_listing_s %}
                    <h5>Buyers S Listing: <a href="{% url 'creator_marketplace_listing_view' id=c_order.buyers_listing_s.id %}">{{ c_order.buyers_listing_s }}</a></h5>
                    <small>Checkout their listing to see if you approve. If you do, click ACCEPT. If you don't click DECLINE.</small>
                    <h5>The listing of yours that they are ordering: {{ c_order.creator_listing }}</h5>
                    <a href="{% url 'dashboard_creator_order_accept' id=c_order.id %}"><button>Accept</button></a>
                    <a href="{% url 'dashboard_creator_order_decline' id=c_order.id %}"><button>Decline</button></a>
                    <br>
                    <small>----------------------------------------------------------------</small>

                {% elif c_order.buyers_listing_c %}
                    <h5>Buyers C Listing: <a href="{% url 'creator_marketplace_listing_view' id=c_order.buyers_listing_c.id %}">{{ c_order.buyers_listing_c }}</a></h5>
                    <small>Checkout their listing to see if you approve. If you do, click ACCEPT. If you don't click DECLINE.</small>
                    <h5>The listing of yours that they are ordering: {{ c_order.creator_listing }}</h5>
                    <a href="{% url 'dashboard_creator_order_accept' id=c_order.id %}"><button>Accept</button></a>
                    <a href="{% url 'dashboard_creator_order_decline' id=c_order.id %}"><button>Decline</button></a>
                    <br>
                    <small>----------------------------------------------------------------</small>    
                {% endif %}
            {% endfor %}

            {% if c_orders_len == 0 %}
                <h5>>>> You have no orders for any of your creator listings</h5>
            {% endif %}
        
       


        <h3>Sponsor Orders: </h3>
        <!--
            {% for s_order in s_orders %}
                <a href="{% url 'sponsor_marketplace_listing_view' id=s_order.id %}">{{ s_order }}</a>
                <a href="{% url 'dashboard_sponsor_order_accept' id=s_order.id %}"><button>Accept</button></a>
                <a href="{% url 'dashboard_sponsor_order_decline' id=s_order.id %}"><button>Decline</button></a>
            {% endfor %}
        -->

        <hr>

        <h1>Your Orders:</h1>

        <h3>Creators Ordered: </h3>
        {% for creator in c_ordered %}
            <a href="{% url 'creator_marketplace_listing_view' id=creator.id %}">{{ creator }}</a>
            <a href="{% url 'dashboard_unorder_c' id=creator.id %}"><button>Unorder</button></a>
            <a href="{% url 'creator_marketplace_listing_order_view' id=creator.id %}">Edit</a>
        {% endfor %}

        <h3>Sponsors Ordered: </h3>
        {% for sponsor in s_ordered %}
            <a href="{% url 'sponsor_marketplace_listing_view' id=sponsor.id %}">{{ sponsor }}</a>
            <a href="{% url 'dashboard_unorder_s' id=sponsor.id %}"><button>Unorder</button></a>
        {% endfor %}

        <hr>
        <h1>Watching:</h1>

        <h3>Creators Watching: </h3>
        {% for creator in c_watching %}
            <a href="{% url 'creator_marketplace_listing_view' id=creator.id %}">{{ creator }}</a>
            <a href="{% url 'dashboard_unwatch_c' id=creator.id %}"><button>Unwatch</button></a>
        {% endfor %}

        <h3>Sponsors Watching: </h3>
        {% for sponsor in s_watching %}
            <a href="{% url 'sponsor_marketplace_listing_view' id=sponsor.id %}">{{ sponsor }}</a>
            <a href="{% url 'dashboard_unwatch_s' id=sponsor.id %}"><button>Unwatch</button></a>
        {% endfor %}

        <hr>
        <h1>Your Listings:</h1>

        <h3>Your Creator Listings: </h3>
        {% for listing in personal_c_listings %}
            <a href="{% url 'creator_marketplace_listing_view' id=listing.id %}">{{ listing }}</a>
            <a href="{% url 'blog_listing_update' id=listing.id %}"><button>Edit</button></a>
            <a href="{% url 'blog_listing_delete' id=listing.id %}"><button>Delete</button></a>
        {% endfor %}

        <h3>Your Sponsor Listings: </h3>
        {% for listing in personal_s_listings %}
            <a href="{% url 'sponsor_marketplace_listing_view' id=listing.id %}">{{ listing }}</a>
            <a href="{% url 'sponsor_listing_update' id=listing.id %}"><button>Edit</button></a>
            <a href="{% url 'sponsor_listing_delete' id=listing.id %}"><button>Delete</button></a>

        {% endfor %}
    
    </div>

{% endblock content %}