{% extends 'base.html' %}

{% block content %}

<div class="container">

    
    <br>
    <br>

    <div class="row">

        <div class="col">
            <h1 class="text-center font-weight-bold display-4">Request a feature</h1>
            <hr>
            <br>
            <br>

            <form method="POST">

                {% csrf_token %}

                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email to contact you">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Describe the feature(s) you'd like added</label>
                    <textarea class="form-control" name="problem" id="exampleFormControlTextarea1" rows="6"></textarea>
                </div>

                <div class="text-center">
                  <br>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
              </form>
              
      </div>

</div>

{% endblock content %}