{% extends 'base.html' %}

{% block content %}

    <br>
    <br>

    <div class="container justify-content-center">
        

        <h1 style="text-align: center;">Login</h1>

        <br>
        <br>

        

        {% for message in messages %}

            <p>{{ message }}</p>

        {% endfor %}

        <form method="POST">

            {% csrf_token %}
            
            <div class="col">
                <div class="form-group row">
                    <input type="email" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Email Address" required>
                </div>

                <div class="form-row">
                    <div class="row">
                        <input name="password" type="password" class="form-control" placeholder="Password" required>
                </div>

                    <br>
                    <br>
            </div>

            <div class="col-auto d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mb-2">Login</button>
            </div>
        </form>
   

        <br>
        <hr>
        <br>

        <div class="g-signin2 d-flex justify-content-center" data-onsuccess="onSignIn" data-theme="light"></div>
            <script>
            function onSignIn(googleUser) {
                // Useful data for your client-side scripts:
                var profile = googleUser.getBasicprofile();
                console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());

                // The ID token you need to pass to your backend:
                var id_token = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id_token);
            }
            </script>

            <br>

            <div class="d-flex justify-content-center">
                <span class="form-text text-muted">Don't have an account? <a href="{% url 'signup' %}">Register</a></span>
            </div>

            <br>

    </div>


{% endblock content %}