{% extends 'base.html' %}

{% load socialaccount %}
{% providers_media_js %}

{% block content %}

    <br>
    <br>

    <div class="container">

        <h1 class="font-weight-normal text-center display-3">Boost</h1>
        <hr>
        <br>

        <div class="d-flex justify-content-center mx-3">

            {% for message in messages %}

                <p>{{ message }}</p>

            {% endfor %}
            <br>

            <br>
            <br>

            <div class="col-lg-6 col-xs-12 d-flex justify-content-center">
                <form method="POST">

                    {% csrf_token %}

                    <div class="border p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">
                        <div class="form-row">
                            <h1 class="font-weight-normal">Login</h1>
                        </div>
                        <div class="form-row">
                            <div class="form-group">

                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <h5>Email</h5>
                                <input type="email" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Email Address" required>
                            </div>

                            <div class="form-group col-md-12">
                                <h5>Password</h5>
                                <input name="password" type="password" class="form-control" placeholder="Password" required>
                                <a href="#">Forgot Password?</a>
                            </div>

                            <button type="submit" class="btn btn-block btn-primary my-2 mx-1">Login</button>
                            <a class="ml-1" href="{% url 'signup' %}">Create A Boost Account.</a>


                        </div>

                        <br>
                        <br>
                        <hr>
                        <br>

                        <div class="text-center">


                            <a href="{% provider_login_url "google" %}"><img src="https://ghnewshub.com/media/icons/social/large/google-signin-button.png" style="width: 60%; height: 60%;"></a>

                        </div>

                        <br>

                    </div>

                </form>

            </div>

        </div>

    </div>


{% endblock content %}
