{% extends 'base.html' %}

{% load i18n static %}

{% block content %}








{% if validlink %}


<div class="view d-none d-lg-block" style=" height: 400px; background-image: url({{MEDIA_URL}}/styled_background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="container d-flex h-100 align-items-center justify-content-center">
    <div class="row">
      <div class="col-md-12 white-text text-center">
        <div class="col-md-8 p-lg-5 mx-auto my-auto">
            <h1 class="font-weight-bold display-1">Password Reset</h1>
            <br>
            <p class="lead font-weight-normal">Input new password here.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Only shows up for MD and smaller (everything else) -->
<div class="view d-lg-none" style=" height: 280px; background-image: url({{MEDIA_URL}}/styled_background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-sm-12 col-xs-12 white-text text-center">
          <br>
          <h1 class="font-weight-bold display-4">Password Reset</h1>
          <br>
          <p class="lead font-weight-normal">Input new password here.</p>
        </div>
      </div>
  </div>
</div>

<div id="content" class="container">

  <hr class="my-5">

  <div class="row justify-content-center">
    <div class="col-lg-7 col-xs-12 align-self-center">

      <form method="POST">

        {% csrf_token %}

          <fieldset class="module aligned">

          <div class="border text-center p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">

           <input hidden class="hidden" autocomplete="username" value="{{ form.user.username }}">

           <div class="form-group">

             {{ form.new_password1.errors }}
             <label for="id_new_password1">{% translate 'New password:' %}</label>
             {{ form.new_password1 }}

           </div>

           <div class="form-group mb-0">

             {{ form.new_password2.errors }}
             <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
             {{ form.new_password2 }}

           </div>

          </div>

          <div class="text-center">
            <br>
            <input class="btn btn-primary" type="submit" value="{% translate 'Change my password' %}">
          </div>

        </fieldset>

      </form>
    </div>
  </div>
</div>

{% else %}

  <div id="content" class="container text-center">

    <br>
    <br>

    <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

  </div>

{% endif %}

{% endblock %}
