{% extends 'base.html' %}

{% block content %}



  <!-- Only shows up for LG and bigger (computers) -->
<div class="view d-none d-lg-block" style=" height: 400px; background-image: url({{MEDIA_URL}}/styled_background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="container d-flex h-100 align-items-center justify-content-center">
    <div class="row">
      <div class="col-md-12 white-text text-center">
        <div class="col-md-8 p-lg-5 mx-auto my-auto">
            <h1 class="font-weight-bold display-1">Password Reset Complete</h1>
            <br>
            <p class="lead font-weight-normal">You're password has been successfully reset.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Only shows up for MD and smaller (everything else) -->
<div class="view d-lg-none" style=" height: 280px; background-image: url({{MEDIA_URL}}/styled_background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-sm-12 col-xs-12 white-text text-center">
          <br>
          <h1 class="font-weight-bold display-4">Password Reset Complete</h1>
          <br>
          <p class="lead font-weight-normal">You're password has been successfully reset.</p>
        </div>
      </div>
  </div>
</div>

<div id="content" class="container">

  <br>
  <br>

  <div class="jumbotron">
  <h1 class="display-4">Password Reset Was Successful!</h1>
  <p class="lead">Your password has been set. You may go ahead and log in now.</p>
  <hr class="my-4">
  <p>Thanks for using Boost!</p>
  <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
</div>

</div>

{% endblock content %}
