{% extends 'base.html' %}

{% block content %}

    <!-- Only shows up for LG and bigger (computers) -->
    <div class="view d-none d-lg-block" style=" height: 400px; background-image: url('https://i.pinimg.com/originals/6f/6c/15/6f6c1538b050072b002dbc06bedaaf90.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="container d-flex h-100 align-items-center justify-content-center">
        <div class="row">
          <div class="col-md-12 white-text text-center">
            <div class="col-md-8 p-lg-5 mx-auto my-auto">
                <h1 class="font-weight-bold display-1">Send For Review</h1>
                <br>
                <p class="lead font-weight-normal">Send your content to the sponsor for review.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Only shows up for MD and smaller (everything else) -->
  <div class="view d-lg-none" style=" height: 280px; background-image: url('https://i.pinimg.com/originals/6f/6c/15/6f6c1538b050072b002dbc06bedaaf90.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 col-xs-12 white-text text-center">
            <br>
            <h1 class="font-weight-bold display-4">Send For Review</h1>
            <br>
            <p class="lead font-weight-normal">Send your content to the sponsor for review.</p>
          </div>
        </div>
    </div>
  </div>

  <div class="container">

    <hr class="my-5">

      <div class="row justify-content-center">

          <div class="col-lg-7 col-xs-12 align-self-center">

              <form method="POST">

                  {% csrf_token %}

                  <div class="border p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">
                    <h4>NOTE: As of right now, when you submit your PDF file,
                    the file is not saved. This will be fixed later, but you can still go through
                    the process.</h4>

                    <br>
                    <br>

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <label for="exampleFormControlTextarea1">Upload a PDF file of the content you created for the sponsor.</label>
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse&hellip; <input id="my-file-selector" type="file" style="display:none;" onchange="$('#upload-file-info').val($(this).val());">
                            </span>
                        </label>
                        <input type="text" name="review_file" class="form-control" id="upload-file-info" readonly>
                    </div>

                  </div>

                  <div class="text-center">
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>

              </form>

        </div>

  </div>

{% endblock content %}
