{% extends 'base.html' %}

{% load socialaccount %}
{% providers_media_js %}

{% block content %}

    <br>
    <br>

    <div class="container">

        <h1 class="font-weight-normal text-center display-3">Boost</h1>
        <hr>
        <br>

        <div class="d-flex justify-content-center mx-3">

            {% for message in messages %}

                <p>{{ message }}</p>

            {% endfor %}

            <br>
            <br>

            <div class="col-auto d-flex justify-content-center">

                <form method="POST">

                    {% csrf_token %}        
                    
                    <div class="border p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">
                        
                        <div class="form-row">
                            <h1 class="font-weight-normal">Create Account</h1>
                        </div>
                        <div class="form-row">
                            <div class="form-group">

                            </div>
                        </div>
                        
                        <div class="form-group">
                            <input type="email" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Email Address" required>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <input name="first_name" class="form-control" placeholder="First Name">
                            </div>

                            <div class="col">
                                <input name="last_name" class="form-control" placeholder="Last Name">
                            </div>
                        </div>

                        <br>

                        <div class="form-row">
                            <div class="col">
                                <input name="password1" type="password" class="form-control" placeholder="Password" required>
                            </div>

                            <div class="col">
                                <input name="password2" type="password" class="form-control" placeholder="confirm password" required>
                            </div>

                            <button type="submit" class="btn btn-block btn-primary mt-4 mx-1">Create Account</button>
                            <a class="ml-1 my-2" href="{% url 'login' %}">Have A Boost Account? Login In Here.</a>


                        </div>

                        
                        <br>
                        <br>
                        <hr>
                        <br>

                        <div class="text-center">
                            <button class="btn btn-success" type="button" href="{% provider_login_url "google" %}">Google</button>
                            <div class="d-flex justify-content-center my-5">
                                <span class="form-text text-muted" style="text-align: center;">By creating a Boost account, you're agreeing to acceptBoost's <a href="#">Terms and Conditions</a>, <a href="#">Privacy Policy</a> and <a href="#">Cookies and Tracking Policy</a></span>
                            </div>
                        </div>
                                                   
                    </div>

                </form>

            </div>

        </div>
   
    </div>


{% endblock content %}