{% extends 'base.html' %}

{% load socialaccount %}
{% providers_media_js %}

{% block content %}

    <br>
    <br>

    <div class="container">

        <h1 class="font-weight-normal text-center display-3">Boost</h1>
        <hr>
        <br>

        <div class="d-flex justify-content-center mx-3">

            <br>
            <br>

            <div class="col-lg-7 col-xs-12 d-flex justify-content-center">

                <form method="POST">

                    {% csrf_token %}

                    {% if messages %}
                      {% for message in messages %}

                        {% if 'username_exists' in message.tags  %}
                          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                            <strong>Username Already Exists</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        {% endif %}

                      {% endfor %}
                    {% endif %}
                    <br>



                        <div class="form-row">
                            <h1 class="font-weight-normal mx-auto">Create Account</h1>
                        </div>

                        <br>

                        <div class="form-row">
                            <div class="form-group">

                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Email Address" required>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <input name="first_name" class="form-control" placeholder="First Name">
                            </div>

                            <div class="col">
                                <input name="last_name" class="form-control" placeholder="Last Name">
                            </div>
                        </div>

                        <br>

                        <div class="form-row">
                            <div class="col">
                                <input name="password1" type="password" class="form-control" placeholder="Password" required>
                            </div>

                            <div class="col">
                                <input name="password2" type="password" class="form-control" placeholder="confirm password" required>
                            </div>

                        {% if messages %}
                          {% for message in messages %}

                            {% if 'invalid_password' in message.tags  %}
                              <div class="alert alert-danger alert-dismissible fade show text-center mt-2" role="alert">
                                <strong>Invalid Password</strong>
                                <p>Password Needs to be at leat 8 characters long and can't be entirely numeric.</p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                            {% endif %}

                            {% if 'passwords_dont_match' in message.tags  %}
                              <div class="alert alert-danger alert-dismissible fade show text-center mt-2" role="alert">
                                <strong>Passwords Do Not Match</strong>
                                <p></p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                            {% endif %}

                          {% endfor %}
                        {% endif %}

                        <!--
                            <div class="d-flex justify-content-center mb-2 mt-4">
                                <span class="form-text text-muted" style="text-align: center;">Boost is protected and the <a href="{% url 'terms_and_conditions' %}">Terms and Conditions</a>, <a href="{% url 'privacy_policy' %}">Privacy Policy</a> and other policies apply.</span>
                            </div>
                        -->

                            <div class="form-check ml-lg-3 mt-5">
                              <input class="form-check-input" type="checkbox" id="flexCheckDefault" required/>
                              <label class="form-check-label text-muted" for="flexCheckDefault">
                                I agree to the <a style="color: #007185;" href="{% url 'terms_and_conditions' %}">Terms and Conditions</a>, <a style="color: #007185;" href="{% url 'privacy_policy' %}">Privacy Policy</a> and all other policies mentioned in footer.
                              </label>
                            </div>


                            <button type="submit" class="btn btn-block btn-primary mt-4 mx-1">Create Account</button>
                            <p class="ml-1 my-2">Have A Boost Account? </p><a class="ml-1 my-2" href="{% url 'login' %}" style="color: #007185;">Login In Here.</a>


                        </div>


                        <br>
                        <br>
                        <hr class="m-0">

                        <div class="text-center">
                            <a href="{% provider_login_url "google" %}"><img class="m-0 p-0" src="{{MEDIA_URL}}/google_sign_up.png" style="width: 70%; height: 70%;"></a>
                            <div class="d-flex justify-content-center">
                                <span class="form-text text-muted" style="text-align: center;">By creating a Boost account, you're agreeing to accept Boost's <a href="{% url 'terms_and_conditions' %}" style="color: #007185;">Terms and Conditions</a>, <a href="{% url 'privacy_policy' %}" style="color: #007185;">Privacy Policy</a> and all other policies mentioned in footer.</span>
                            </div>
                        </div>


                </form>

            </div>

        </div>

    </div>


{% endblock content %}
