{% extends 'base.html' %}

{% load socialaccount %}
{% providers_media_js %}

{% block content %}

    <br>
    <br>

    <div class="container">

      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      <br>

        <h1 class="font-weight-normal text-center display-3">Boost</h1>
        <hr>
        <br>

        <div class="d-flex justify-content-center mx-3">

            {% for message in messages %}

                <p>{{ message }}</p>

            {% endfor %}

            <br>
            <br>

            <div class="col-lg-7 col-xs-12 d-flex justify-content-center">

                <form method="POST">

                    {% csrf_token %}



                        <div class="form-row">
                            <h1 class="font-weight-normal mx-auto">Create Account</h1>
                        </div>

                        <br>

                        <div class="form-row">
                            <div class="form-group">

                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Email Address" required>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <input name="first_name" class="form-control" placeholder="First Name">
                            </div>

                            <div class="col">
                                <input name="last_name" class="form-control" placeholder="Last Name">
                            </div>
                        </div>

                        <br>

                        <div class="form-row">
                            <div class="col">
                                <input name="password1" type="password" class="form-control" placeholder="Password" required>
                            </div>

                            <div class="col">
                                <input name="password2" type="password" class="form-control" placeholder="confirm password" required>
                            </div>

                            <div class="d-flex justify-content-center mb-2 mt-4">
                                <span class="form-text text-muted" style="text-align: center;">Boost is protected and the <a href="#">Terms and Conditions</a>, <a href="#">Privacy Policy</a> and <a href="#">Cookies and Tracking Policy</a> apply.</span>
                            </div>

                            <button type="submit" class="btn btn-block btn-primary mt-4 mx-1">Create Account</button>
                            <p class="ml-1 my-2">Have A Boost Account? </p><a class="ml-1 my-2" href="{% url 'login' %}">Login In Here.</a>


                        </div>


                        <br>
                        <br>
                        <hr class="m-0">

                        <div class="text-center">
                            <a href="{% provider_login_url "google" %}"><img class="m-0 p-0" src="https://persistiq.com/assets/google_sign_up.png" style="width: 70%; height: 70%;"></a>
                            <div class="d-flex justify-content-center">
                                <span class="form-text text-muted" style="text-align: center;">By creating a Boost account, you're agreeing to acceptBoost's <a href="#">Terms and Conditions</a>, <a href="#">Privacy Policy</a> and <a href="#">Cookies and Tracking Policy</a></span>
                            </div>
                        </div>


                </form>

            </div>

        </div>

    </div>


{% endblock content %}
