{% extends 'base.html' %}

{% block content %}

    <!-- Only shows up for LG and bigger - Top Background Thing (computers) -->
    <div class="view d-none d-lg-block" style=" height: 500px; background-image: url('https://i.pinimg.com/originals/6f/6c/15/6f6c1538b050072b002dbc06bedaaf90.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light align-items-center">
          <!-- Content -->
          <div class="container">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-12 mb-4 white-text text-center">


                <div class="col-md-8 p-lg-5 mx-auto my-5">
                    <h1 class="font-weight-bold display-1">Boost</h1>
                    <br>
                    <p class="lead font-weight-normal">An Open and Free Marketplace For Creators and Sponsors To Connect. There's a deal for everyone.</p>

                    <br>

                    <a class="btn btn-light btn-lg px-3 mr-2" href="{% url 'creator_marketplace' %}">Creator Marketplace</a>
                    <a class="btn btn-light btn-lg px-3 ml-2" href="{% url 'sponsor_marketplace' %}">Sponsor Marketplace</a>

                </div>

              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
      <!-- Full Page Intro -->


      <!-- Only shows up for MD and smaller - Top Background Thing (everything else) -->
      <div class="view d-lg-none" style=" height: 400px; background-image: url('https://i.pinimg.com/originals/6f/6c/15/6f6c1538b050072b002dbc06bedaaf90.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light align-items-center">
          <!-- Content -->
          <div class="container">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-sm-12 col-xs-12 mb-4 white-text text-center">
                <br>
                <h1 class="font-weight-bold display-2">Boost</h1>
                <br>
                <p class="lead font-weight-normal">An Open and Free Marketplace For Creators and Sponsors To Connect</p>
                <br>
                <a class="btn btn-light px-3 py-2 m-2" href="{% url 'creator_marketplace' %}">Creator Marketplace</a>
                <a class="btn btn-light px-3 py-2 m-2" href="{% url 'sponsor_marketplace' %}">Sponsor Marketplace</a>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
      </div>


        <div class="container">

          <h1>{{user}}</h1>

            <hr class="my-5">

            <h1 class="display-3 font-weight-bold text-center">Choose Your Path</h1>
            <hr style="width: 30%;">
            <br>
            <br>

            <div class="row">

                <div class="col">

                    <div class="jumbotron text-center border shadow-lg">
                        <h1 class="display-4 font-weight-bold">Creator</h1>
                        <p class="lead">Those who create content.</p>
                        <hr class="my-4">

                        <h4 class="font-weight-bold">Create a Listing and Get Sponsored</h4>
                        <p class="grey-text">Create a listing for your blog and it will be placed on the open marketplace so sponsors can view it.</p>

                        <br>

                        <h4 class="font-weight-bold">Get Offers</h4>
                        <p class="grey-text">When a sponsor likes your listing, they can make an offer, which you can accept or decline.</p>

                        <br>

                        <h4 class="font-weight-bold">Get Paid</h4>
                        <p class="grey-text">After completing the offer, you can then select "completed" in the dashboard and you will get paid.</p>

                        <br>
                        <p class="lead">
                          <a class="btn btn-primary btn-lg" href="{% url 'blog_listing' %}" role="button">Make a Creator Listing</a>
                        </p>

                      </div>

                </div>

                <div class="col">

                    <div class="jumbotron text-center border shadow-lg">
                        <h1 class="display-4 font-weight-bold">Sponsor</h1>
                        <p class="lead">Those who seek advertisement.</p>
                        <hr class="my-4">

                        <h4 class="font-weight-bold">Create a Listing and Attract Creators</h4>
                        <p class="grey-text">Create a listing for your product/business and it will be placed on the open marketplace so creators can view it.</p>

                        <br>

                        <h4 class="font-weight-bold">Get Offers</h4>
                        <p class="grey-text">When a creator likes your listing, they can make an offer, which you can accept or decline.</p>

                        <br>

                        <h4 class="font-weight-bold">Get Paid</h4>
                        <p class="grey-text">After completing the offer, you can then select "completed" in the dashboard and you will get paid.</p>

                        <br>
                        <p class="lead">
                          <a class="btn btn-primary btn-lg" href="{% url 'sponsor_listing' %}" role="button">Make a Sponsor Listing</a>
                        </p>
                      </div>

                </div>

            </div>

            <br>
            <br>
            <br>




            <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                <!--Grid column-->
                <div class="col-lg-6 col-md-12 px-4">

                  <!--First row-->
                  <div class="row">
                    <div class="col-1 mr-3">
                      <i class="fas fa-code fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                      <h4 class="font-weight-bold">Open and Free Marketplace</h4>
                      <p class="grey-text">The Boost platform is an open and free marketplace for sponsors and creators to connect.</p>
                    </div>
                  </div>
                  <!--/First row-->

                  <div style="height:30px"></div>

                  <!--Second row-->
                  <div class="row">
                    <div class="col-1 mr-3">
                      <i class="fas fa-book fa-2x blue-text"></i>
                    </div>
                    <div class="col-10">
                      <h4 class="font-weight-bold">Listings</h4>
                      <p class="grey-text">Out platform operates through listings. This way, both creators and sponsors, can show off their creative outlet or busienss.
                      </p>
                    </div>
                  </div>
                  <!--/Second row-->

                  <div style="height:30px"></div>

                  <!--Third row-->
                  <div class="row">
                    <div class="col-1 mr-3">
                      <i class="fas fa-graduation-cap fa-2x cyan-text"></i>
                    </div>
                    <div class="col-10">
                      <h4 class="font-weight-bold">Free and Open to all</h4>
                      <p class="grey-text">Our platform is free and open to everyone, you just have to make an account. We take a small percentage of payment (depending on which party initiates the order).</p>
                    </div>
                  </div>
                  <!--/Third row-->

                </div>
                <!--/Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-12">

                  <h4 class="font-weight-bold text-center mb-4">Watch our "5 min Quick Start" tutorial</h4>
                  <p class="h5 text-center mb-4">(This is just a placeholder video.)</p>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen=""></iframe>
                  </div>
                </div>
                <!--/Grid column-->

            </div>

            <br>
            <br>
            <br>
            <br>

            <p class="h5 text-center mb-4">More stuff will be added to this page.</p>



        </div>


{% endblock content %}
