{% extends 'base.html' %}
{% load humanize %}

{% block header %}
{% endblock header %}

{% block content %}

  <div class="d-none d-lg-block">
    <div style="background-color: #fbfbfb;">

        <div class="px-5 mx-auto" style="width: 80%; background-color: #fbfbfb;">

          {% if messages %}
          <br>
            {% for message in messages %}

              {% if 'sponsor_orders_creator_success' in message.tags  %}
                <div class="alert alert-success alert-dismissible fade show text-center mb-0" role="alert">
                  <strong>{{message}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}

              {% if 'sponsor_unorders_creator_success' in message.tags  %}
                <div class="alert alert-success alert-dismissible fade show text-center mb-0" role="alert">
                  <strong>{{message}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}

            {% endfor %}
          {% endif %}

            <div class="row">

                <div class="col-8 my-3">

                    <div class="my-3 p-3 border rounded shadow" style="background-color: white;">

                      <div class="row">
                        <div class="col">
                          <a class="nav-link pl-0 pt-0 text-break" href="https://instagram.com/{{ listing.ig_name }}" target="_blank" style="color: #007185;">

                            <!--

                            {% if listing.ig_url.4 == "s" %}
                              {{ listing.ig_url|slice:"8:" }}
                            {% elif listing.ig_url.4 == ":" %}
                              {{ listing.ig_url|slice:"7:" }}
                            {% endif %}
                            -->

                            instagram.com/{{ listing.ig_name }}

                          </a>
                          <h3 class="font-weight-normal pb-2 text-break" style="color: grey;">{{ listing.ig_name }}</h3>
                          <h4 class="pb-2">{{ listing.tagline }}</h4>
                          <img src="{{MEDIA_URL}}{{listing.listing_img}}" class="card-img" style="max-width: 100%; max-height: 100%;">
                        </div>
                      </div>

                    </div>


                    <div class="my-3 border rounded shadow" style="background-color: white;">

                      <h4 class="card-header text-center">Statistics</h4>

                      <div class="card-body">

                        <table class="table table-borderless mx-auto my-auto">

                          <tbody>
                            <tr>
                              <td class="text-center"><b><h5>Followers</h5></b><p>{{ listing.followers|intcomma }}</p></td>
                              <td class="text-center"><b><h5>Engagement Rate</h5></b><p>{{ listing.engagement_rate }}%</p></td>
                            </tr>
                            <tr>
                              {% if listing.estimated_post_impressions %}
                                <td class="text-center"><b><h5>Est. Impressions</h5></b><p class="m-0">{{ listing.estimated_post_impressions|intcomma }}</p></td>

                              {% else %}
                                <td class="text-center"><b><h5>Estimated Impressions</h5></b><p class="m-0">N/A</p></td>

                              {% endif %}
                              <td class="text-center"><b><h5>Average Likes</h5></b><p class="m-0">{{ listing.avg_likes|intcomma }}</p></td>

                            </tr>
                          </tbody>

                        </table>

                      </div>

                    </div>

                  <!--

                    {% if is_google_a_data_good %}

                      <hr class="my-4">

                      <div class="my-3 p-3 border rounded shadow" style="background-color: white;">
                        <div class="row">
                          <div class="col" style="height: 500px;">

                            <h1 class="text-center mb-4">Traffic</h1>



                            <div id="chart_div" style="height: 90%; width: 100%;"></div>


                          </div>

                        </div>

                        <h1 style="opacity: 0;">Easter Egg!</h1>

                        <div class="row mt-5">

                          <div class="col pr-0 ml-4 mt-1">
                            <h2 class="ml-1">Stats</h1>
                            <h4 class="ml-2" style="color: #4a4a4a;">Total Views:</h4>
                            <h5 class="ml-3" style="color: #28b500;">{{total_views}}</h5>
                            <h4 class="ml-2" style="color: #4a4a4a;">Avg. Views:</h4>
                            <h5 class="ml-3" style="color: #28b500;">{{avg_views}}</h5>
                          </div>
                          <div class="col-8 mr-4">
                            <table class="table table-bordered mx-auto">
                              <thead>

                                <tr>
                                  <th scope="col" style="width: 40%;">Month</th>
                                  <th scope="col">Views</th>
                                </tr>

                              </thead>

                              <tbody>

                                <tr>
                                  <th scope="row">{{months.0}} {{prev_year}}</th>
                                  <td>{{data.0.1}}</td>
                                </tr>

                                <tr>
                                  <th scope="row">{{months.1}}</th>
                                  <td>{{data.1.1}}</td>
                                </tr>

                                <tr>
                                  <th scope="row">{{months.2}}</th>
                                  <td colspan="2">{{data.2.1}}</td>
                                </tr>

                                <tr>
                                  <th scope="row">{{months.3}}</th>
                                  <td colspan="2">{{data.3.1}}</td>
                                </tr>

                                <tr>
                                  <th scope="row">{{months.4}}</th>
                                  <td colspan="2">{{data.4.1}}</td>
                                </tr>

                                <tr>
                                  <th scope="row">{{months.5}}</th>
                                  <td colspan="2">{{data.5.1}}</td>
                                </tr>

                                <tr>
                                  <th scope="row">{{months.6}}</th>
                                  <td colspan="2">{{data.6.1}}</td>
                                </tr>

                                <tr>
                                  <th scope="row">{{months.7}}</th>
                                  <td colspan="2">{{data.7.1}}</td>
                                </tr>

                                <tr>
                                  <th scope="row">{{months.8}}</th>
                                  <td colspan="2">{{data.8.1}}</td>
                                </tr>

                                <tr>
                                  <th scope="row">{{months.9}}</th>
                                  <td colspan="2">{{data.9.1}}</td>
                                </tr>

                                <tr>
                                  <th scope="row">{{months.10}}</th>
                                  <td colspan="2">{{data.10.1}}</td>
                                </tr>

                                <tr>
                                  <th scope="row">{{months.11}} {{year}}</th>
                                  <td colspan="2">{{data.11.1}}</td>
                                </tr>

                              </tbody>
                            </table>
                          </div>

                        </div>

                          </div>

                    {% endif %}

                    -->

                    <hr class="my-4">

                    <div class="my-3 p-3 border rounded shadow" style="background-color: white;">

                        <div class="row">
                          <div class="col">

                            <div class="card mb-2">
                              <div class="card-header">
                                <h5 class="m-0">Overview Description</h5>
                              </div>
                              <div class="card-body">
                                <p class="card-text">{{ listing.overview_description|linebreaks }}</p>
                              </div>
                            </div>

                          </div>
                        </div>

                        <hr style="border-top: 6px solid #bbb; border-radius: 5px; width: 30%;">

                        <div class="row">
                          <div class="col">

                            <div class="card my-2">
                              <div class="card-header">
                                <h5 class="m-0">Audience Description</h5>
                              </div>
                              <div class="card-body">
                                <p class="card-text">{{ listing.audience_description|linebreaks }}</p>
                              </div>
                            </div>

                          </div>
                        </div>

                        <hr style="border-top: 6px solid #bbb; border-radius: 5px; width: 30%;">

                        <div class="row">
                          <div class="col">

                            <div class="card my-2">
                              <div class="card-header">
                                <h5 class="m-0">What This Creator Is Looking For In A Sponsor</h5>
                              </div>
                              <div class="card-body">
                                <p class="card-text">{{ listing.sponsor_description|linebreaks }}</p>
                              </div>
                            </div>

                          </div>
                        </div>

                        <hr style="border-top: 6px solid #bbb; border-radius: 5px; width: 30%;">

                        <div class="row">
                          <div class="col">

                            <div class="card my-2">
                              <div class="card-header">
                                <h5 class="m-0">Experience Description</h5>
                              </div>
                              <div class="card-body">
                                <p class="card-text">{{ listing.exp_description|linebreaks }}</p>
                              </div>
                            </div>

                          </div>
                        </div>

                    </div>

                    <div class="card text-white bg-dark text-center mt-5 mb-3" style="">
                      <div class="card-header">Watch this listing</div>
                      <div class="card-body">
                        <h5 class="card-title">Don't Miss A Thing!</h5>

                        {% if following %}
                            <a href="{% url 'creator_marketplace_listing_unwatch_view' id=listing.id %}"><button type="button" class="btn btn-primary btn-lg btn-block mt-3">Watching</button></a>
                        {% else %}
                            <a href="{% url 'creator_marketplace_listing_watch_view' id=listing.id %}"><button type="button" class="btn btn-outline-primary btn-lg btn-block mt-3">Watch</button></a>
                        {% endif %}

                      </div>
                    </div>

                </div>

                <!-- Right side column here -->
                <div class="col-4 my-3">

                    <br>
                    <br>

                    <div class="card shadow p-3">
                      {% if following %}
                          <a href="{% url 'creator_marketplace_listing_unwatch_view' id=listing.id %}"><button class="btn btn-primary p-2 btn-block">Watching</button></a>
                      {% else %}
                          <a href="{% url 'creator_marketplace_listing_watch_view' id=listing.id %}"><button class="btn btn-outline-primary p-2 btn-block">Watch</button></a>
                      {% endif %}

                      {% if ordered %}
                          <a href="{% url 'creator_marketplace_listing_unorder_view' id=listing.id %}"><button type="button" class="btn btn-success mt-3 p-2 btn-block">Unorder</button></a>
                      {% else %}

                          <a href="{% url 'creator_marketplace_listing_order_view' id=listing.id %}"><button type="button" class="btn btn-outline-success mt-3 p-2 btn-block" data-toggle="modal" data-target="#staticBackdrop">Order</button></a>
                      {% endif %}
                    </div>

                    <br>
                    <hr>


                    <button type="button" class="btn btn-primary btn-block my-4 py-2" style="border: 1px solid #0058b5;" data-toggle="modal" data-target="#helpVideoModal">
                      Need Help?
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="helpVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Listing Creation/Updating Help Video</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="container-fluid">
                              <div class="row">
                                <div class="col-12 embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/LFI707SASI0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="card shadow mb-3">
                      <h5 class="card-header text-center">Pricing Model</h5>
                      <div class="card-body">

                        <p class="card-text">{{ listing.pricing_description|linebreaks }}</p>

                      </div>
                    </div>



                    <div class="card shadow">

                      <h5 class="card-header text-center">Info</h5>

                      <div class="card-body">

                        <table class="table table-borderless mx-auto my-auto">
                          <tbody>

                            <tr>
                              <td class="text-center"><b><h5>Niche</h5></b><p class="m-0">{{ listing.niche }}</p></td>
                              <td class="text-center"><b><h5>Years Active</h5></b><p>{{ listing.age }}</p></td>
                            </tr>

                            <tr>
                              <td class="text-center"><b><h5>Language</h5></b><p class="m-0">{{ listing.language }}</p></td>
                              <td class="text-center text-break"><b><h5>Username</h5></b><p class="m-0">{{ listing.ig_name }}</p></td>
                            </tr>

                          </tbody>
                        </table>

                        <!--

                        <h5 class="card-title">Type</h5>
                        <p class="card-text">{{ blog_types }}</p>
                        <br>
                        <h5 class="card-title">Years Active</h5>
                        <p class="card-text">{{ listing.age }}</p>
                        <br>
                        <h5 class="card-title">Niche</h5>
                        <p class="card-text">{{ listing.niche }}</p>
                        <br>
                        <h5 class="card-title">Language</h5>
                        <p class="card-text">{{ listing.language }}</p>

                        -->

                      </div>
                    </div>



                    <br>
                    <hr>
                    <br>


                        <div class="card shadow">
                          <h5 class="card-header text-center">About The Creator</h5>
                          <div class="card-body">
                            <h5 class="card-title">{{ listing.creator.first_name }} {{ listing.creator.last_name }}</h5>
                            <p class="card-text">Listing Overview: {{ listing.tagline }}</p>


                            <div class="accordion" id="accordionExample">
                              <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-center p-0 dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #007185;">
                                      Other Listings By This Creator
                                    </button>
                                  </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-body">
                                    {% for l in all_users_listings %}
                                      <a class="text-break" href="{% url 'creator_marketplace_listing_view' id=l.id %}" style="color: #007185;">{{ l }}</a>
                                      <br>
                                    {% endfor %}
                                  </div>
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>




                </div>

            </div>

            <br>
        </div>
    </div>
  </div>

  <div class="d-lg-none">
    <div class="container" style="background-color: #fbfbfb;">

      {% if messages %}
      <br>
        {% for message in messages %}

          {% if 'sponsor_orders_creator_success' in message.tags  %}
            <div class="alert alert-success alert-dismissible fade show text-center mb-0" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}

          {% if 'sponsor_unorders_creator_success' in message.tags  %}
            <div class="alert alert-success alert-dismissible fade show text-center mb-0" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}

        {% endfor %}
        <br>
      {% endif %}

        <div class="row">

            <div class="col-12 mb-3">

                <div class="my-3 p-3 border rounded shadow" style="background-color: white;">

                  <div class="row">
                    <div class="col">
                      <a class="nav-link pl-0 pt-0 text-break" href="https://instagram.com/{{ listing.ig_name }}" target="_blank" style="color: #007185;">

                        <!--
                        {% if listing.blog_url.4 == "s" %}
                          {{ listing.blog_url|slice:"8:" }}
                        {% elif listing.blog_url.4 == ":" %}
                          {{ listing.blog_url|slice:"7:" }}
                        {% endif %}
                        -->

                        instagram.com/{{ listing.ig_name }}

                      </a>
                      <h5 class="font-weight-normal text-break" style="color: grey;">{{ listing.ig_name }}</h5>
                      <h5 class="pb-2">{{ listing.tagline }}</h5>
                      <img src="{{MEDIA_URL}}{{listing.listing_img}}" class="card-img" style="max-width: 100%; max-height: 100%;">
                    </div>
                  </div>

                </div>

                <div class="my-3 p-3 border rounded shadow" style="background-color: white;">

                {% if following %}
                    <a href="{% url 'creator_marketplace_listing_unwatch_view' id=listing.id %}"><button class="btn btn-primary p-2 btn-block">Watching</button></a>
                {% else %}
                    <a href="{% url 'creator_marketplace_listing_watch_view' id=listing.id %}"><button class="btn btn-outline-primary p-2 btn-block">Watch</button></a>
                {% endif %}



                {% if ordered %}
                    <a href="{% url 'creator_marketplace_listing_unorder_view' id=listing.id %}"><button type="button" class="btn btn-success mt-3 p-2 btn-block">Unorder</button></a>
                {% else %}

                    <a href="{% url 'creator_marketplace_listing_order_view' id=listing.id %}"><button type="button" class="btn btn-outline-success mt-3 p-2 btn-block" data-toggle="modal" data-target="#staticBackdrop">Order</button></a>
                {% endif %}
              </div>

                <hr class="my-4">

                <button type="button" class="btn btn-primary btn-block my-3 py-2" style="border: 1px solid #0058b5;" data-toggle="modal" data-target="#helpVideoModalMobile">
                  Need Help?
                </button>

                <!-- Modal -->
                <div class="modal fade" id="helpVideoModalMobile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Listing Creation/Updating Help Video</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-12 embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/LFI707SASI0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!--

                {% if is_google_a_data_good %}

                <div class="my-3 p-3 border rounded shadow" style="background-color: white;">
                  <div class="row">
                    <div class="col" style="height: 300px;">

                      <h1 class="text-center mb-4">Traffic</h1>

                      <div class="text-center" id="chart_div2" style="height: 90%; width: 100%;"></div>

                    </div>

                  </div>

                  <h1 style="opacity: 0;">Easter Egg!</h1>

                  <h2 class="ml-1 mt-4 text-center">Stats</h1>

                  <div class="row mt-1">

                    <div class="col">
                      <h4 class="ml-2" style="color: #4a4a4a;">Total Views</h4>
                      <h5 class="ml-3" style="color: #28b500;">{{total_views}}</h5>
                    </div>

                    <div class="col mb-4">
                      <h4 class="ml-2" style="color: #4a4a4a;">Avg. Views</h4>
                      <h5 class="ml-3" style="color: #28b500;">{{avg_views}}</h5>
                    </div>


                    <div class="col-12">
                      <table class="table table-bordered mx-auto">
                        <thead>

                          <tr>
                            <th scope="col" style="width: 40%;">Month</th>
                            <th scope="col">Views</th>
                          </tr>

                        </thead>

                        <tbody>

                          <tr>
                            <th scope="row">{{months.0}} {{prev_year}}</th>
                            <td>{{data.0.1}}</td>
                          </tr>

                          <tr>
                            <th scope="row">{{months.1}}</th>
                            <td>{{data.1.1}}</td>
                          </tr>

                          <tr>
                            <th scope="row">{{months.2}}</th>
                            <td colspan="2">{{data.2.1}}</td>
                          </tr>

                          <tr>
                            <th scope="row">{{months.3}}</th>
                            <td colspan="2">{{data.3.1}}</td>
                          </tr>

                          <tr>
                            <th scope="row">{{months.4}}</th>
                            <td colspan="2">{{data.4.1}}</td>
                          </tr>

                          <tr>
                            <th scope="row">{{months.5}}</th>
                            <td colspan="2">{{data.5.1}}</td>
                          </tr>

                          <tr>
                            <th scope="row">{{months.6}}</th>
                            <td colspan="2">{{data.6.1}}</td>
                          </tr>

                          <tr>
                            <th scope="row">{{months.7}}</th>
                            <td colspan="2">{{data.7.1}}</td>
                          </tr>

                          <tr>
                            <th scope="row">{{months.8}}</th>
                            <td colspan="2">{{data.8.1}}</td>
                          </tr>

                          <tr>
                            <th scope="row">{{months.9}}</th>
                            <td colspan="2">{{data.9.1}}</td>
                          </tr>

                          <tr>
                            <th scope="row">{{months.10}}</th>
                            <td colspan="2">{{data.10.1}}</td>
                          </tr>

                          <tr>
                            <th scope="row">{{months.11}} {{year}}</th>
                            <td colspan="2">{{data.11.1}}</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>

                    </div>

                {% endif %}

                -->


                    <div class="card shadow mb-3">
                      <h5 class="card-header text-center">Pricing Model</h5>
                      <div class="card-body">

                        <p class="card-text">{{ listing.pricing_description|linebreaks }}</p>

                      </div>
                    </div>

                        <div class="card shadow">
                          <h5 class="card-header text-center">Info</h5>

                          <div class="card-body">
                            <table class="table table-borderless mx-auto my-auto">
                              <tbody>

                                <tr>
                                  <td class="text-center"><b><h5>Niche</h5></b><p class="m-0">{{ listing.niche }}</p></td>
                                  <td class="text-center"><b><h5>Years Active</h5></b><p>{{ listing.age }}</p></td>
                                </tr>

                                <tr>
                                  <td class="text-center"><b><h5>Language</h5></b><p class="m-0">{{ listing.language }}</p></td>
                                  <td class="text-center text-break"><b><h5>Username</h5></b><p class="m-0">{{ listing.ig_name }}</p></td>
                                </tr>

                              </tbody>
                            </table>
                          </div>

                        </div>

                </div class="my-3 p-3 border rounded" style="background-color: white;">




                <hr class="my-4">

                <div class="my-3 p-3 mx-3 border rounded shadow" style="background-color: white;">

                    <div class="row">
                      <div class="col">

                        <div class="card">
                          <div class="card-header">
                            <h5 class="m-0">Overview Description</h5>
                          </div>
                          <div class="card-body">
                            <p class="card-text">{{ listing.overview_description|linebreaks }}</p>
                          </div>
                        </div>

                      </div>
                    </div>

                    <br>

                    <div class="row">
                      <div class="col">

                        <div class="card">
                          <div class="card-header">
                            <h5 class="m-0">Audience Description</h5>
                          </div>
                          <div class="card-body">
                            <p class="card-text">{{ listing.audience_description|linebreaks }}</p>
                          </div>
                        </div>

                      </div>
                    </div>

                    <br>

                    <div class="row">
                      <div class="col">

                        <div class="card">
                          <div class="card-header">
                            <h5 class="m-0">What This Blogger Would Like From A Sponsor</h5>
                          </div>
                          <div class="card-body">
                            <p class="card-text">{{ listing.audience_description|linebreaks }}</p>
                          </div>
                        </div>

                      </div>
                    </div>

                    <br>

                    <div class="row">
                      <div class="col">

                        <div class="card">
                          <div class="card-header">
                            <h5 class="m-0">Experience Description</h5>
                          </div>
                          <div class="card-body">
                            <p class="card-text">{{ listing.exp_description|linebreaks }}</p>
                          </div>
                        </div>

                      </div>
                    </div>

                </div>


                <br>
                <hr>
                <br>

                    <div class="card shadow mx-3">
                      <h5 class="card-header text-center">About The Creator</h5>
                      <div class="card-body">
                        <h5 class="card-title">{{ listing.creator.first_name }} {{ listing.creator.last_name }}</h5>
                        <p class="card-text">Listing Info: {{ listing.tagline }}</p>


                        <div class="accordion" id="accordionExample">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-center p-0 dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #007185;">
                                  Other Listings By This Creator
                                </button>
                              </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                              <div class="card-body">
                                {% for l in all_users_listings %}
                                  <a class="text-break" href="{% url 'creator_marketplace_listing_view' id=l.id %}" style="color: #007185;">{{ l }}</a>
                                  <br>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>

            </div>

        </div>

        <br>
    </div>
  </div>
{% endblock content %}
