{% extends 'base.html' %}


{% block content %}

    <!-- Only shows up for LG and bigger (computers) -->
    <div class="view d-none d-lg-block" style=" height: 400px; background-image: url({{MEDIA_URL}}/styled_background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="container d-flex h-100 align-items-center justify-content-center">
        <div class="row">
          <div class="col-md-12 white-text text-center">
            <div class="col-md-8 p-lg-5 mx-auto my-auto">
                <h1 class="font-weight-bold display-1">Order Details</h1>
                <br>
                <p class="lead font-weight-normal">This is where you'll give the creator some details for what you're looking for.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Only shows up for MD and smaller (everything else) -->
    <div class="view d-lg-none" style=" height: 280px; background-image: url({{MEDIA_URL}}/styled_background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container d-flex align-items-center justify-content-center">
          <div class="row">
            <div class="col-sm-12 col-xs-12 white-text text-center">
              <br>
              <h1 class="font-weight-bold display-4">Order Details</h1>
              <br>
              <p class="lead font-weight-normal">This is where you'll give the creator some details for what you're looking for.</p>
            </div>
          </div>
      </div>
    </div>

    <div class="container">

      <hr class="my-5">

      <div class="justify-content-center mx-3">

        <div class="row">

          <div class="col-md-7 col-xs-10 mx-auto">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}


                  <h1 class="font-weight-normal text-center">Choose which of your listings you'd like to offer to this creator</h1>
                  <br>

                    <div class="border p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">

                      <div class="form-row">
                        <div class="form-group col-md-12">
                            <span>Don't have a listing? Create one if you're a <a href="{% url 'sponsor_listing' %}">sponsor</a> or a <a href="{% url 'blog_listing' %}">creator</a></span>
                            <select name="buyer_listing" id="inputListing" class="form-control" required>
                              <option selected>{{ prev_c_order.buyer_listing }}</option>

                                {% for listing in buyers_sponsor_listings %}

                                    <option>{{ listing }}</option>

                                {% endfor %}


                            </select>
                          </div>
                        </div>
                    </div>

                      <br>
                      <br>
                      <hr>
                      <br>
                      <br>

                      <h1 class="font-weight-normal text-center">How Much Will You offer This Creator?</h1>
                      <br>

                      <div class="border p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">
                        <div class="form-row">
                          <div class="form-group col-md-12">

                              <!-- Button trigger modal -->
                              <small><a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                                How much should I pay for sponsored content?
                              </a></small>

                              <!-- Modal -->
                              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Sponsored content payment amount</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">

                                      <p class="font-weight-normal">These are the rates for a sponsored blog post suggested by a reputable source.
                                        Of course you can offer what ever amount you'd like, but these are the industry standards and what most bloggers would expect.
                                        <br><br> Keep in mind how many views you want to get and how much you're willing to spend (If you're looking for 20K views on your sponsored content but
                                        only have a budget of $100, this may not be enough money to pay a creator who can provide those kind of views. For $100, you'll be looking at more like
                                        5K views, so keep this in mind.)
                                      </p>

                                      <hr class="my-3" style="width: 75%;">

                                      <p class="font-weight-normal">DA (Domain Authority): This is how established a webiste is in the eyes of Google. This is a
                                      number between 1-100, with anything over 45 being really good. You can get more info on the topic and check a websites DA
                                      <a href="https://moz.com/domain-analysis">here</a>.
                                    </p>

                                      <br>

                                      <img src="https://hobowithalaptop.com/wp-content/uploads/blogger-rate-card-1160x2331.png" style="width: 100%; height: 100%;">

                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <input type="number" name="payout" class="form-control" placeholder="$ (No Dollar Sign)" min="1" {% if prev_c_order %}value={{prev_c_order.payout}}{% endif %} required>
                          </div>
                      </div>
                      </div>

                      <br>
                      <br>
                      <hr>
                      <br>
                      <br>

                    <h1 class="font-weight-normal text-center">Choose which service you'd like the creator to do</h1>
                    <br>

                    <div class="border p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">

                      <small>You may only select one.</small>

                      <div class="form-row">
                        <div class="form-group col-md-12">

                          <select name="service" id="inputService" class="form-control" required>
                            <option selected>{{ prev_c_order.service }}</option>
                            <option>Review</option>
                            <option>Shoutout</option>
                            <option>Tutorial</option>
                            <option>Other (See Details)</option>
                          </select>

                        </div>
                      </div>
                    </div>

                    <br>
                    <br>
                    <hr>
                    <br>
                    <br>

                    <h1 class="font-weight-normal text-center">Describe what you'd like the creator to do</h1>
                    <br>

                    <div class="border p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">
                      <div class="form-row">

                        <!-- Add ability to add pictures/files and urls -->
                        <br>
                        <div class="form-group col-md-12">
                          <label for="exampleFormControlTextarea1">
                              <small id="emailHelp" class="form-text text-muted">
                                  This is where you'll give a detailed description of what you want the creator to do.
                              </small>

                          </label>
                          <textarea name="service_detailed" class="form-control" id="exampleFormControlTextarea1" rows="3" required>{{ prev_c_order.service_detailed }}</textarea>
                        </div>
                      </div>
                    </div>


                    <br>
                    <br>
                    <br>

                    <h1 class="font-weight-normal text-center">Extra Content For Creator</h1>
                    <h1 class="font-weight-normal text-center">(One PDF File)</h1>
                    <br>

                    <div class="border p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">
                      <div class="form-row">

                        <!-- Add ability to add pictures/files and urls -->
                        <br>
                        <div class="form-group col-md-12">
                          <label for="exampleFormControlTextarea1">
                              <small id="emailHelp" class="form-text text-muted">
                                  This is where you'll offer the creator some images or other things to better aid them in making content for you.
                                  <br>
                                  <br>
                                  Remember, only one file is submitable, so we advice making it a PDF, containing all media that you'd like to show the creator.
                              </small>

                          </label>



                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="s_content_file">

                              {% if prev_c_order %}
                                <label class="custom-file-label" for="inputGroupFile01" style="max-width: 100%;">{{file_name}}</label>
                              {% else %}
                                <label class="custom-file-label" for="inputGroupFile01" style="max-width: 100%;">Choose File</label>
                              {% endif %}



                              <script>
                              document.getElementById("inputGroupFile01").addEventListener('change',function(e){
                                var fileName = document.getElementById("inputGroupFile01").files[0].name;
                                var nextSibling = e.target.nextElementSibling
                                nextSibling.innerText = fileName
                                })
                              </script>

                            </div>


                        </div>
                      </div>
                    </div>


                    <br>
                    <br>


                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Finish Order</button>
                    </div>

                    <br>
                    <br>
                    <br>


            </form>

          </div>

        </div>

      </div>

    </div>

{% endblock content %}
