{% extends 'base.html' %}
{% load humanize %}

{% block content %}

    <!-- Creator Marketplace view for desktops -->
    <div class="d-none d-lg-block">
      <div class="px-5 mx-auto" style="width: 80%;">

        <br>


        <div class="row">

            <!-- Filter Form -->

            <div class="col-2 mt-2 px-4 shadow" style="height: 50%; border: 2px solid #d8d8d8; border-radius: 25px;">
                <form method="GET">
                    <div class="col p-0">

                      <button type="button" class="btn btn-primary btn-block mt-3 py-2" style="border: 1px solid #0058b5;" data-toggle="modal" data-target="#helpVideoModal">
                        Need Help?
                      </button>


                      <!-- Modal -->
                      <div class="modal fade" id="helpVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Listing Creation/Updating Help Video</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="col-12 embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/6LLFgGmY_cA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>


                        <div class="dropdown">
                            <h4 class="mt-3 text-left">
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-filter" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                              </svg>
                              Filter By
                            </h4>

                            <hr>

                            <div>

                              <h6 class="font-weight-bold">Search By Keywords</h6>
                              <input class="form-control" style="width: 100%;" type="search" placeholder="ex: tech books etc." aria-label="Search" name="search_bar" {% if searchbar_bool %}value="{{searchb}}"{% endif %}>



                              <hr>

                                <div>
                                    <div>
                                        <h6 class="font-weight-bold">Niche</h6>
                                    </div>

                                        <div>
                                            <ul style="list-style: none; padding-left: 0;">
                                                {% for niche, check in niches.items %}
                                                    <li>
                                                        <div class="form-check">
                                                            <input name="niche" class="form-check-input font-weight-normal" type="checkbox" value="{{ niche }}" id="defaultCheck1" {% if check == 'checked' %} checked="True" {% endif %}>
                                                            <label class="form-check-label" for="defaultCheck1">
                                                            {{ niche }}
                                                            </label>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                </div>

                                <hr>

                                <div>

                                        <div>
                                            <h6 class="font-weight-bold">Followers</h6>
                                        </div>

                                        <small style="color: grey;">(At Least)</small>

                                        <div class="input-group input-group-sm mb-3">

                                          <input name="followers" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" {% if followers %} value="{{followers}}" {% endif %}>
                                        </div>

                                        <!--        -->

                                        <div>
                                            <h6 class="font-weight-bold">Engagment Rate</h6>
                                        </div>

                                        <small style="color: grey;">(At Least)</small>

                                        <div class="input-group input-group-sm mb-3">

                                          <input name="eng_rate" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" {% if eng_rate %} value="{{eng_rate}}" {% endif %}>
                                        </div>

                                        <!--        -->

                                        <div>
                                            <h6 class="font-weight-bold">Avg. Impressions</h6>
                                        </div>

                                        <small style="color: grey;">(At Least)</small>

                                        <div class="input-group input-group-sm mb-3">

                                          <input name="impression_count" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" {% if impression_count %} value="{{impression_count}}" {% endif %}>
                                        </div>

                                        <!--        -->

                                        <div>
                                            <h6 class="font-weight-bold">Likes</h6>
                                        </div>

                                        <small style="color: grey;">(At Least)</small>

                                        <div class="input-group input-group-sm mb-3">

                                          <input name="likes" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" {% if likes %} value="{{likes}}" {% endif %}>
                                        </div>


                                </div>


                                <hr>

                                <div>

                                        <div>
                                            <h6 class="font-weight-bold">Years Active</h6>
                                        </div>

                                        <small style="color: grey;">(At Least)</small>
                                        <div class="d-flex justify-content-center mB-4">

                                          <input type="range" id="rangeInput" name="blog_age_val" min="0" max="10" value="{{blog_age_val}}" oninput="amount.value=rangeInput.value">

                                          <output class="ml-1" id="amount" name="amount" for="rangeInput">{{blog_age_val}}</output>

                                        </div>

                                </div>

                                <hr>

                                <div>
                                    <div>
                                        <h6 class="font-weight-bold">Language</h6>
                                    </div>

                                        <div>
                                          <ul style="list-style: none; padding-left: 0;">
                                              {% for l, check in langs.items %}
                                                  <li>
                                                      <div class="form-check">
                                                          <input name="language" class="form-check-input font-weight-normal" type="checkbox" value="{{ l }}" id="defaultCheck2" {% if check == 'checked' %} checked="True" {% endif %}>
                                                          <label class="form-check-label" for="defaultCheck2">
                                                          {{ l }}
                                                          </label>
                                                      </div>
                                                  </li>
                                              {% endfor %}
                                          </ul>
                                        </div>

                                </div>
                            </div>
                        </div>

                        <button class="btn btn-block btn-success" style="border: 1px solid #025e17" type="submit">Search</button>
                        <input class="btn btn-block btn-primary mb-3" style="border: 1px solid #0058b5" type="submit" value="Reset" name="reset_button">

                    </div>
                </form>
            </div>

            <!-- END Filter Form -->

            <!-- Listings -->

            <div class="col-10">
                {% for listing in creator_listings %}



                <div class="card text-center m-2 shadow" style="border: 2px solid #d8d8d8; border-radius: 25px;">

                    <div class="card-header" style="border: 0px solid #d8d8d8; border-top-left-radius: 25px; border-top-right-radius: 25px;">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                              <a class="nav-link active" style="color: black;">{{ listing.ig_name }}</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="https://instagram.com/{{ listing.ig_name}}" target="_blank" style="color: #007185;">
                                <!--
                                {% if listing.ig_url.4 == "s" %}
                                  {{ listing.ig_url|slice:"8:" }}
                                {% elif listing.ig_url.4 == ":" %}
                                  {{ listing.ig_url|slice:"7:" }}
                                {% endif %}
                                -->
                                instagram.com/{{ listing.ig_name }}
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link disabled" style="color: #636363;">Niche: {{ listing.niche }}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="row">

                            <div class="col-5 pr-0">
                                <div class="row">
                                    <div class="col-12 mb-4">

                                        <!--<img src="https://static.teamguru.com/data/images/thumb/180_da8e22ef6e.jpg" class="card-img" style="max-width: 100%; max-height: 100%;">-->

                                      <img src="{{MEDIA_URL}}{{listing.listing_img}}" class="card-img" style="max-width: 100%; max-height: 100%;">

                                    </div>
                                </div>
                            </div>
                            <div class="col-7 my-auto pt-0 pb-0">
                                <h4 class="mx-3 mb-2 font-weight-normal">{{ listing.tagline }}</h4>

                                <br>

                                <table class="table table-borderless m-0">

                                  <tbody>
                                    <tr>

                                      {% if listing.followers %}
                                        <td><b>Followers</b><br>{{ listing.followers|intcomma }}</td>

                                      {% else %}
                                        <td><b>Followers</b><br>N/A</td>

                                      {% endif %}

                                      {% if listing.engagement_rate %}
                                        <td><b>Engagement Rate</b><br>{{ listing.engagement_rate|intcomma }}</td>

                                      {% else %}
                                        <td><b>Engagement Rate</b><br>N/A</td>

                                      {% endif %}

                                    </tr>
                                    <tr>

                                      {% if listing.estimated_post_impressions %}
                                        <td><b>Avg. Impressions</b><br>{{ listing.estimated_post_impressions|intcomma }}</td>

                                      {% else %}
                                        <td><b>Avg. Impressions</b><br>N/A</td>

                                      {% endif %}

                                      {% if listing.avg_likes %}
                                        <td><b>Average Likes</b><br>{{ listing.avg_likes|intcomma }}</td>

                                      {% else %}
                                        <td><b>Average Likes</b><br>N/A</td>

                                      {% endif %}
                                    </tr>
                                  </tbody>

                                </table>


                                  <!--
                                  <img class="pb-4" src="https://www.cookiebot.com/media/1082/googleanalytics.png?width=605&" style="width: 30%; height: 30%;">
                                  -->



                                  <!--

                                  {% if listing.google_a_csv %}
                                  <br>

                                    <img class="mt-4 pt-3" src="{{MEDIA_URL}}uploads/google_img.jpg" class="card-img" style="max-width: 25%; max-height: 25%;">

                                  {% endif %}

                                  -->

                            </div>
                        </div>

                        <div class="d-flex">

                          <a href="{% url 'creator_marketplace_listing_view' id=listing.id %}" class=" flex-fill">
                            <button type="button" class="btn btn-primary px-5 w-100 mr-4" style="border: 1px solid #0058b5;">View Listing</button>
                          </a>


                          {% if listing in watching %}

                            <button type="button" class="btn btn-success px-5 flex-fill ml-4" style="border: 1px solid #025e17;">Watching</button>

                          {% else %}

                            <button type="button" class="btn btn-outline-success px-5 flex-fill ml-4" style="border: 1px solid #025e17;">Not Watching</button>

                          {% endif %}

                        </div>


                    </div>

                </div>

                {% endfor %}

                <nav class="mt-5" aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">

                    {% if creator_listings.has_previous %}
                      <li class="page-item">
                        <a class="page-link m-1" href="?page={{creator_listings.previous_page_number}}" tabindex="-1" aria-disabled="true" style="background-color: #f5f6f9; border-color: #acafb4; color: #3b3b3b;">Previous</a>
                      </li>

                      <li class="page-item"><a class="page-link m-1" href="?page={{creator_listings.previous_page_number}}" style="background-color: #f5f6f9; border-color: #acafb4; color: #3b3b3b;">{{creator_listings.previous_page_number}}</a></li>

                    {% else %}
                      <li class="page-item disabled">
                        <a class="page-link m-1" style="border-color: #acafb4;" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                      </li>

                    {% endif %}

                    <li class="page-item"><a class="page-link m-1" href="?page={{creator_listings.number}}" style="background-color: white; border-color: #007bff;"><b>{{creator_listings.number}}</b></a></li>


                    {% if creator_listings.has_next %}
                      <li class="page-item"><a class="page-link m-1" href="?page={{creator_listings.next_page_number}}" style="background-color: #f5f6f9; border-color: #acafb4; color: #3b3b3b;">{{creator_listings.next_page_number}}</a></li>

                      <li class="page-item">
                        <a class="page-link m-1" href="?page={{creator_listings.next_page_number}}" style="background-color: #f5f6f9; border-color: #acafb4; color: #3b3b3b;">Next</a>
                      </li>

                    {% else %}
                      <li class="page-item disabled">
                        <a class="page-link m-1" style="border-color: #acafb4;" href="#" tabindex="-1" aria-disabled="true">Next</a>
                      </li>

                    {% endif %}


                  </ul>
                </nav>

            </div>
            <!-- END Listings -->

        </div>

    </div>
  </div>

    <!-- Creator Marketplace view for phones and tablets -->
    <div class="d-lg-none">
      <div class="container">

        <div class="row">
          <div class="col-4 px-2 mx-auto">

            <a class="btn btn-primary btn-block mt-3" style="border: 1px solid #0058b5" data-toggle="collapse" data-target="#collapseCreatorOrders" role="button">
                Filter By
            </a>
           </div>

          <div class="col-8 pr-2 pl-0 mx-auto">

          <button type="button" class="btn btn-primary btn-block my-3" style="border: 1px solid #0058b5;" data-toggle="modal" data-target="#helpVideoModalMobile">
            Need Help?
          </button>

          <!-- Modal -->
          <div class="modal fade" id="helpVideoModalMobile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Listing Creation/Updating Help Video</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/6LLFgGmY_cA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


        <div class="row">

            <!-- Filter Form -->
            <div class="collapse" id="collapseCreatorOrders">

              <form method="GET">
                  <div class="col">
                      <div class="dropdown">






                          <h4 class="mt-3 text-left">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-filter" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            Filter By
                          </h4>

                          <hr>

                          <div>

                            <h6 class="font-weight-bold">Search By Keywords</h6>
                            <input class="form-control" style="width: 100%;" type="search" placeholder="ex: tech books etc." aria-label="Search" name="search_bar" {% if searchbar_bool %}value="{{searchb}}"{% endif %}>


                            <hr>

                              <div>
                                  <div>
                                      <h6 class="font-weight-bold">Niche</h6>
                                  </div>

                                      <div>
                                          <ul style="list-style: none; padding-left: 0;">
                                              {% for niche, check in niches.items %}
                                                  <li>
                                                      <div class="form-check">
                                                          <input name="niche" class="form-check-input font-weight-normal" type="checkbox" value="{{ niche }}" id="defaultCheck1" {% if check == 'checked' %} checked="True" {% endif %}>
                                                          <label class="form-check-label" for="defaultCheck1">
                                                          {{ niche }}
                                                          </label>
                                                      </div>
                                                  </li>
                                              {% endfor %}
                                          </ul>
                                      </div>

                              </div>

                              <hr>

                              <div>

                                <div>
                                    <h6 class="font-weight-bold">Followers</h6>
                                </div>

                                <small style="color: grey;">(At Least)</small>

                                <div class="input-group input-group-sm mb-3">

                                  <input name="followers" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" {% if followers %} value="{{followers}}" {% endif %}>
                                </div>

                                <!--        -->

                                <div>
                                    <h6 class="font-weight-bold">Engagment Rate</h6>
                                </div>

                                <small style="color: grey;">(At Least)</small>

                                <div class="input-group input-group-sm mb-3">

                                  <input name="eng_rate" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" {% if eng_rate %} value="{{eng_rate}}" {% endif %}>
                                </div>

                                <!--        -->

                                <div>
                                    <h6 class="font-weight-bold">Avg. Impressions</h6>
                                </div>

                                <small style="color: grey;">(At Least)</small>

                                <div class="input-group input-group-sm mb-3">

                                  <input name="impression_count" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" {% if impression_count %} value="{{impression_count}}" {% endif %}>
                                </div>

                                <!--        -->

                                <div>
                                    <h6 class="font-weight-bold">Likes</h6>
                                </div>

                                <small style="color: grey;">(At Least)</small>

                                <div class="input-group input-group-sm mb-3">

                                  <input name="likes" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" {% if likes %} value="{{likes}}" {% endif %}>
                                </div>


                              </div>


                              <hr>

                              <div>

                                      <div>
                                          <h6 class="font-weight-bold">Years Active</h6>
                                      </div>

                                      <small style="color: grey;">(At Least)</small>
                                      <div class="d-flex justify-content-center mB-4">

                                        <input type="range" id="rangeInput" name="blog_age_val" min="0" max="10" value="{{blog_age_val}}" oninput="amount.value=rangeInput.value">

                                        <output class="ml-1" id="amount" name="amount" for="rangeInput">{{blog_age_val}}</output>

                                      </div>

                              </div>

                              <hr>

                              <div>
                                  <div>
                                      <h6 class="font-weight-bold">Language</h6>
                                  </div>

                                      <div>
                                        <ul style="list-style: none; padding-left: 0;">
                                            {% for l, check in langs.items %}
                                                <li>
                                                    <div class="form-check">
                                                        <input name="language" class="form-check-input font-weight-normal" type="checkbox" value="{{ l }}" id="defaultCheck2" {% if check == 'checked' %} checked="True" {% endif %}>
                                                        <label class="form-check-label" for="defaultCheck2">
                                                        {{ l }}
                                                        </label>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                      </div>

                              </div>
                          </div>
                      </div>

                      <button class="btn btn-block btn-success" style="border: 1px solid #025e17" type="submit">Search</button>
                      <input class="btn btn-block btn-primary mb-3" style="border: 1px solid #0058b5" type="submit" value="Reset" name="reset_button">

                      <hr>

                  </div>
              </form>

            </div>

            <!-- END Filter Form -->

            <!-- Listings -->

            <div class="col">
                {% for listing in creator_listings %}

                <div class="card shadow" style="border: 2px solid #d8d8d8; border-radius: 25px;">
                  <img src="{{MEDIA_URL}}{{listing.listing_img}}" class="card-img" style="max-width: 100%; max-height: 100%; border: 0px solid #d8d8d8; border-top-left-radius: 23px; border-top-right-radius: 23px;"">
                  <div class="card-body">

                    {% if listing.google_a_csv %}

                      <img class="float-right" src="{{MEDIA_URL}}uploads/google_img.jpg" class="card-img" style="max-width: 25%; max-height: 25%;">
                      <br>
                      <br>

                    {% endif %}

                    <h5 class="card-title text-center">{{ listing.ig_name }}</h5>
                    <p class="card-text text-center">{{ listing.tagline }}</p>
                  </div>
                    <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item">
                        <a class="nav-link p-0" href="https://instagram.com/{{ listing.ig_name}}" target="_blank" style="color: #007185;">
                          <!--
                          {% if listing.ig_url.4 == "s" %}
                            {{ listing.ig_url|slice:"8:" }}
                          {% elif listing.ig_url.4 == ":" %}
                            {{ listing.ig_url|slice:"7:" }}
                          {% endif %}
                          -->
                          instagram.com/{{ listing.ig_name }}
                        </a>
                      </li>
                      <li class="list-group-item"><b>Niche </b>| {{ listing.niche }}</li>



                      <table class="table table-borderless m-0">

                        <tbody>
                          <tr>

                            {% if listing.followers %}
                              <td><b>Followers</b><br>{{ listing.followers|intcomma }}</td>

                            {% else %}
                              <td><b>Followers</b><br>N/A</td>

                            {% endif %}

                            {% if listing.engagement_rate %}
                              <td><b>Engagement Rate</b><br>{{ listing.engagement_rate|intcomma }}</td>

                            {% else %}
                              <td><b>Engagement Rate</b><br>N/A</td>

                            {% endif %}

                          </tr>
                          <tr>

                            {% if listing.estimated_post_impressions %}
                              <td><b>Avg. Impressions</b><br>{{ listing.estimated_post_impressions|intcomma }}</td>

                            {% else %}
                              <td><b>Avg. Impressions</b><br>N/A</td>

                            {% endif %}

                            {% if listing.avg_likes %}
                              <td><b>Average Likes</b><br>{{ listing.avg_likes|intcomma }}</td>

                            {% else %}
                              <td><b>Average Likes</b><br>N/A</td>

                            {% endif %}
                          </tr>
                        </tbody>

                      </table>






                    </ul>
                  <div class="card-body text-center">
                      <div class="row">
                        <a href="{% url 'creator_marketplace_listing_view' id=listing.id %}" class="mx-auto">
                          <button type="button" class="btn btn-primary mx-auto px-4" style="border: 1px solid #0058b5;">View Listing</button>
                        </a>

                        {% if listing in watching %}

                          <button type="button" class="btn btn-success mx-auto px-4" style="border: 1px solid #025e17;">Watching</button>

                        {% else %}

                          <button type="button" class="btn btn-outline-success mx-auto px-4" style="border: 1px solid #025e17;">Not Watching</button>

                        {% endif %}
                      </div>

                  </div>
                </div>

                <br>


              {% endfor %}

              <nav class="mt-2" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                  {% if creator_listings.has_previous %}
                    <li class="page-item">
                      <a class="page-link m-1" href="?page={{creator_listings.previous_page_number}}" tabindex="-1" aria-disabled="true" style="background-color: #f5f6f9; border-color: #acafb4; color: #3b3b3b;">Previous</a>
                    </li>

                    <li class="page-item"><a class="page-link m-1" href="?page={{creator_listings.previous_page_number}}" style="background-color: #f5f6f9; border-color: #acafb4; color: #3b3b3b;">{{creator_listings.previous_page_number}}</a></li>

                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link m-1" style="border-color: #acafb4;" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                  {% endif %}

                  <li class="page-item"><a class="page-link m-1" href="?page={{creator_listings.number}}" style="background-color: white; border-color: #007bff;"><b>{{creator_listings.number}}</b></a></li>


                  {% if creator_listings.has_next %}
                    <li class="page-item"><a class="page-link m-1" href="?page={{creator_listings.next_page_number}}" style="background-color: #f5f6f9; border-color: #acafb4; color: #3b3b3b;">{{creator_listings.next_page_number}}</a></li>

                    <li class="page-item">
                      <a class="page-link m-1" href="?page={{creator_listings.next_page_number}}" style="background-color: #f5f6f9; border-color: #acafb4; color: #3b3b3b;">Next</a>
                    </li>

                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link m-1" style="border-color: #acafb4;" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>

                  {% endif %}


                </ul>
              </nav>



            <!-- END Listings -->

           </div>
       </div>
    </div>
</div>

{% endblock content %}
