{% extends 'base.html' %}

{% block content %}

<!-- Add a for loop here. for listing in "every listing in database". Then show each listing-->

<div class="container">

    <div class="d-none d-lg-block">

        <br>
        <br>

        <div class="row">

            <!-- Filter Form -->


            <div class="col-2">
                <form method="GET">
                    <div class="col">
                        <div class="dropdown">
                            <h5>Filter By</h5>

                            <hr>

                            <div>
                                <div>
                                    <div>
                                        <h6 class="dropdown-toggle">Niche</h6>
                                    </div>
                                    <form>
                                        <div>
                                            <ul style="list-style: none; padding-left: 0;">
                                                {% for niche, check in niches.items %}
                                                    <li>
                                                        <div class="form-check">
                                                            <input name="niche" class="form-check-input font-weight-normal" type="checkbox" value="{{ niche }}" id="defaultCheck1" {% if check == 'checked' %} checked="True" {% endif %}>
                                                            <label class="form-check-label" for="defaultCheck1">
                                                            {{ niche }}
                                                            </label>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </form>
                                </div>

                                <hr>

                                <div>
                                    <div>
                                        <h6 class="dropdown-toggle">Language</h6>
                                    </div>
                                    <form>
                                        <div>
                                            <ul style="list-style: none; padding-left: 0;">
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                        English
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                        Spanish
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                        Other
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-block btn-success" type="submit">Search</button>
                    </div>
                </form>
            </div>


            <!-- END Filter Form -->

            <!-- Listings -->

                <div class="col-10">
                    {% for listing in sponsor_listings %}

                    <div class="card text-center m-2 shadow">

                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                  <a class="nav-link active" style="color: black;">{{ listing.product }}</a>
                                </li>
                                
                                <li class="nav-item">
                                  <a class="nav-link disabled" style="color: #636363;">Niche: {{ listing.niche }}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <div class="row">

                                <div class="col-5">
                                    <div class="row">
                                        <div class="col-12">

                                            <img src="https://gualapackgroup.com/wp-content/uploads/2017/03/business-background.jpg" class="card-img" style="max-width: 100%; max-height: 100%;">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-7 pl-0">
                                    <h5>Overview</h5>
                                    <p>{{ listing.tagline }}</p>

                                    <a href="{% url 'sponsor_marketplace_listing_view' id=listing.id %}">
                                      <button type="button" class="btn btn-primary mx-2 px-5 mt-3">View Listing</button>
                                    </a>

                                    {% if listing in watching %}

                                      <button type="button" class="btn btn-success mx-2 px-5 mt-3">Watching</button>

                                    {% else %}

                                      <button type="button" class="btn btn-outline-success mx-1 px-5 mt-3">Not Watching</button>

                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>



                        <!--
                        <div class="card mb-3" style="max-width: 100%; max-height: 100%;">

                            <div class="row no-gutters" style="max-width: 100%; max-height: 100%;">

                                <div class="col m-3">
                                    <img src="https://gualapackgroup.com/wp-content/uploads/2017/03/business-background.jpg" class="card-img" style="max-width: 100%; max-height: 100%;">
                                </div>

                                <div class="col-md-8">

                                    <div class="card-body">

                                        <h5 class="card-title">{{ listing.product }}</h5>
                                        <p class="card-text">{{ listing.niche }}</p>
                                        <p class="card-text"><small class="text-muted">{{ listing.money }}</small></p>
                                        <a href="{% url 'sponsor_marketplace_listing_view' id=listing.id %}"><button>View Listing</button></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    {% endfor %}
                </div>

            <!-- END Listings -->

        </div>

    </div>

    <div class="d-lg-none">

        <a class="btn btn-primary mt-3" data-toggle="collapse" data-target="#collapseCreatorOrders" role="button">
            Filter By
        </a>

        <hr>

        <div class="row">

            <!-- Filter Form -->
            <div class="collapse" id="collapseCreatorOrders">

                <form method="GET">
                    <div class="col">
                        <div class="dropdown">

                            <div>
                                <div>
                                    <div>
                                        <h6 class="dropdown-toggle">Niche</h6>
                                    </div>
                                    <form>
                                        <div>
                                            <ul style="list-style: none; padding-left: 0;">
                                                {% for niche, check in niches.items %}
                                                    <li>
                                                        <div class="form-check">
                                                            <input name="niche" class="form-check-input" type="checkbox" value="{{ niche }}" id="defaultCheck1" {% if check == 'checked' %} checked="True" {% endif %}>
                                                            <label class="form-check-label" for="defaultCheck1">
                                                            {{ niche }}
                                                            </label>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </form>
                                </div>

                                <hr>

                                <div>
                                    <div>
                                        <h6 class="dropdown-toggle">Language</h6>
                                    </div>
                                    <form>
                                        <div>
                                            <ul style="list-style: none; padding-left: 0;">
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                        English
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                        Spanish
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                        Other
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-block btn-success" type="submit">Search</button>
                        <hr class="my-3">
                    </div>
                </form>

            </div>

            <div class="col">

                {% for listing in sponsor_listings %}
                <div class="card shadow">
                  <img src="https://gualapackgroup.com/wp-content/uploads/2017/03/business-background.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">{{ listing.product }}</h5>
                    <p class="card-text">{{ listing.tagline }}</p>
                  </div>
                    <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item">Niche: {{ listing.niche }}</li>
                    </ul>
                  <div class="card-body text-center">
                    <div class="row">
                      <a href="{% url 'sponsor_marketplace_listing_view' id=listing.id %}" class="mx-auto">
                        <button type="button" class="btn btn-primary mx-auto px-4">View Listing</button>
                      </a>

                      {% if listing in watching %}

                        <button type="button" class="btn btn-success mx-auto px-4">Watching</button>

                      {% else %}

                        <button type="button" class="btn btn-outline-success mx-auto px-4">Not Watching</button>

                      {% endif %}
                    </div>
                  </div>
                </div>

                <br>

                {% endfor %}
            </div>

    </div>

</div>

{% endblock content %}
