{% extends 'base.html' %}

{% block content %}
    <div style="background-color: #fbfbfb;">
        <div class="container" style="background-color: #fbfbfb;">
            
            <div class="row">

                <div class="col-8 my-3">

                    <div class="my-3 p-3 border rounded" style="background-color: white;">

                        <h1>Product Name + Pic will go here</h1>
                        <h1>and tagline</h1>
                        
                    </div>
                    
                    <hr class="my-4">

                    <div class="my-3 p-3 border rounded" style="background-color: white;">
                        
                        <h1>I'm not sure what's gonna go here, but</h1>
                        <h1>it'll be somthing</h1>
                        
                    </div class="my-3 p-3 border rounded" style="background-color: white;">

                    <hr class="my-4">

                    <div class="my-3 p-3 border rounded" style="background-color: white;">
                        
                        <h1>A detailed description of all</h1>
                        <h1>the stuff will go here</h1>
                        
                    </div>

                    <hr class="my-4">

                </div>

                <div class="col-4 my-3">

                    <br>
                    <br>

                    {% if following %}
                        <a href="{% url 'sponsor_marketplace_listing_unwatch_view' id=listing.id %}"><button class="btn btn-primary p-2 btn-block">Watching</button></a>
                    {% else %}
                        <a href="{% url 'sponsor_marketplace_listing_watch_view' id=listing.id %}"><button class="btn btn-outline-primary p-2 btn-block">Watch</button></a>
                    {% endif %}

                    <hr class="my-4" style="width: 50%;">

                    {% if ordered %}
                        <a href="{% url 'sponsor_marketplace_listing_unorder_view' id=listing.id %}"><button type="button" class="btn btn-success mt-3 p-2 btn-block">Unorder</button></a>
                    {% else %}
            
                        <a href="{% url 'sponsor_marketplace_listing_order_view' id=listing.id %}"><button type="button" class="btn btn-outline-success mt-3 p-2 btn-block" data-toggle="modal" data-target="#staticBackdrop">Order</button></a>
                    {% endif %} 

                    <br>
                    <hr>
                    <br>

                    <div class="p-3 border rounded" style="background-color: white;">
                        
                        <h1>This will be some</h1>
                        <h1>about the sponsor stuff</h1>
                        
                    </div>

                </div>

            </div>

            <br>

        </div>
    </div>

{% endblock content %}