{% extends 'base.html' %}

{% block content %}

    <!-- Only shows up for LG and bigger (computers) -->
  <div class="view d-none d-lg-block" style=" height: 400px; background-image: url('https://i.pinimg.com/originals/6f/6c/15/6f6c1538b050072b002dbc06bedaaf90.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container d-flex h-100 align-items-center justify-content-center">
      <div class="row">
        <div class="col-md-12 white-text text-center">
          <div class="col-md-8 p-lg-5 mx-auto my-auto">
              <h1 class="font-weight-bold display-1">Order Details</h1>
              <br>
              <p class="lead font-weight-normal">This is where you'll give the sponsor some details on your offer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Only shows up for MD and smaller (everything else) -->
  <div class="view d-lg-none" style=" height: 280px; background-image: url('https://i.pinimg.com/originals/6f/6c/15/6f6c1538b050072b002dbc06bedaaf90.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 col-xs-12 white-text text-center">
            <br>
            <h1 class="font-weight-bold display-4">Order Details</h1>
            <br>
            <p class="lead font-weight-normal">This is where you'll give the sponsor some details on your offer.</p>
          </div>
        </div>
    </div>
  </div>

  <div class="container">

    <hr class="my-5">

    <div class="d-flex justify-content-center mx-3">

      <div class="row">

        <div class="col-md-7 col-xs-10 mx-auto">

          <form method="POST">

              {% csrf_token %}


                <h1 class="font-weight-normal text-center">Choose the listing you'd like to offer this Sponsor</h1>
                <br>

                  <div class="border p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">

                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="exampleFormControlTextarea1">
                            <small id="emailHelp" class="form-text text-muted">
                              Don't have a listing? Create one <a href="{% url 'blog_listing' %}">here</a>.
                            </small>
                        </label>
                        <select name="buyer_listing" id="inputListing" class="form-control" required>
                          <option selected>{{ prev_s_order.buyer_listing }}</option>

                            {% for listing in buyers_creator_listings %}

                                <option>{{ listing }}</option>

                            {% endfor %}

                        </select>
                      </div>
                    </div>

                  </div>


                  <br>
                  <br>
                  <hr>
                  <br>
                  <br>

                  <!-- Input for the buyers requested service -->
                  <h1 class="font-weight-normal text-center">Choose the service(s) you're offering</h1>
                  <br>

                  <div class="border p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">
                    <!--
                    <small>This should be a checkbox - sponsor will see what was checked in dashboard under sponsor orders</small>
                    <small>When they click accept, it will transfer them to a url to fill out what they want</small>
                    -->

                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="exampleFormControlTextarea1">
                            <small id="emailHelp" class="form-text text-muted">
                              Choose the service(s) you're interested in offering.
                            </small>
                        </label>
                        <select name="services_creator_is_willing_to_provide" id="inputService" class="form-control" required>
                          <option selected>{{ prev_s_order.services_creator_is_willing_to_provide }}</option>
                          <option>Review</option>
                          <option>Shoutout</option>
                          <option>Tutorial</option>
                          <option>Mention</option>
                          <option>All</option>
                        </select>
                      </div>
                    </div>

                  </div>

                  <br>
                  <br>
                  <hr>
                  <br>
                  <br>

                    <!-- Input for service detail-->
                    <h1 class="font-weight-normal text-center">Give a description.</h1>
                    <br>

                    <div class="border p-3" style="border-color: #f3f3f3; background-color: #f9f9f9; color: black;">

                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="exampleFormControlTextarea1">
                              <small id="emailHelp" class="form-text text-muted">
                                This is where you'll give a detailed description of what you will be able to do for the sponsor.
                              </small>
                          </label>
                          <textarea name="services_creator_is_willing_to_provide_detailed" class="form-control" id="exampleFormControlTextarea1" rows="3" required>{{ prev_s_order.services_creator_is_willing_to_provide_detailed }}</textarea>
                        </div>
                      </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Finish Order</button>
                    </div>

                    <br>


          </form>

        </div>

      </div>

    </div>

  </div>

{% endblock content %}
